Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

fix lower_pad_sequence to stick-align fill offsets
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

harden padding lower_pad_sequence
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

tighten comments in utils
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

update comments
  torch_spyre/_inductor/padding.py
Due: enforce-import-regex-instead-of-re

fail hard when FX node not found for matmul arg
  torch_spyre/_inductor/padding.py
Due: enforce-import-regex-instead-of-re

rename rebuild_computed_buffer -> replace_computed_buffer_body
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

add detailed comments to padded STL construction in lower_pad_sequence
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

add test_padding to CI configs
  tests/configs/torch_spyre_tests/inductor/test_padding_config.yaml
  tests/inductor/test_padding.py
Due: enforce-import-regex-instead-of-re

add test_padding to the GHA matrix
  .github/workflows/torch_spyre_tests.yaml
Due: none

Fix stick size for type conversion ops
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

add scratchpad doc
  docs/source/compiler/scratchpad_planning.md
Due: none

add new doc to index
  docs/source/compiler/index.rst
Due: none

Change full to use old API style to fix profiler bug with python 3.12
  torch_spyre/_inductor/customops.py
Due: enforce-import-regex-instead-of-re

lint
  docs/source/compiler/scratchpad_planning.md
Due: none

Support view destinations in mutation ops like copy_
  tests/inductor/test_inductor_ops.py
  tests/inductor/utils_inductor.py
  torch_spyre/_inductor/insert_restickify.py
Due: enforce-import-regex-instead-of-re

Fix layernormscale output scale for fp32 LayerNorm
  .github/workflows/torch_spyre_tests.yaml
  tests/configs/torch_spyre_tests/inductor/test_layernorm_fp32_input_config.yaml
  tests/inductor/test_layernorm_fp32_input.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

Deduplicate and front-load spyre.constant IR nodes
  .github/workflows/torch_spyre_tests.yaml
  tests/configs/torch_spyre_tests/inductor/test_dedup_constants_config.yaml
  tests/inductor/test_dedup_constants.py
  tests/inductor/test_padding.py
  torch_spyre/_inductor/dedup_constants.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/temp_passes.py
Due: enforce-import-regex-instead-of-re

Use constants in rmsnorm and sdpa decompositions
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Eliminate x buffer allocation and copy in K-padding pass
  tests/inductor/test_padding.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

feat:enable tests in module-tests workflow to be pushed to ClickHouse
  .github/workflows/ingest-to-clickhouse.yaml
Due: none

fix: accept size keyword in spyre empty
  tests/test_spyre.py
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

cicd: add multi-card tests
  .github/workflows/torch_spyre_tests_multi_card.yaml
Due: none

torch_spyre: support int32→int64 dtype cast on Spyre tensors (#1529)
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

Pad only y's K dimension; defer K→K_padded to SDSC codegen
  tests/inductor/test_padding.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

test: reapply stable reduction coverage from #1711
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_ops_lx_planning.py
  tests/inductor/utils_inductor.py
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

:art: fmt
  tests/inductor/test_overwrite.py
Due: enforce-import-regex-instead-of-re

:test_tube: add repro from issue 1765
  tests/inductor/test_overwrite.py
Due: enforce-import-regex-instead-of-re

:bug: specialize ints for spyre.overwrite
  tests/inductor/test_overwrite.py
  torch_spyre/_inductor/customops.py
Due: enforce-import-regex-instead-of-re

:wrench: add CI files
  .github/workflows/torch_spyre_tests.yaml
  tests/configs/torch_spyre_tests/inductor/test_overwrite.yaml
Due: none

uniformly set random seed in a setup method
  tests/inductor/test_building_blocks.py
  tests/inductor/test_cache.py
  tests/inductor/test_codegen.py
  tests/inductor/test_inductor_decomp.py
  tests/inductor/test_inductor_fx_passes.py
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_ops_lx_planning.py
  tests/inductor/test_logging.py
  tests/inductor/test_scratchpad_patterns.py
  tests/models/test_model_ops.py
  tests/models/test_model_ops_v2.py
  tests/tensor/test_it_space_splits.py
  tests/test_device_enum.py
  tests/test_fallbacks.py
  tests/test_modules.py
  tests/test_modules_custom.py
  tests/test_spyre.py
  tests/test_stream.py
Due: enforce-import-regex-instead-of-re

add back class-level sseeing to handle cached_rand pattern
  tests/inductor/test_inductor_decomp.py
  tests/inductor/test_inductor_fx_passes.py
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Fix device constructors not working in torch-spyre with TorchFunctionModes
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

rebased main
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

uncomment sub with alpha test
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Fix FlexAllocator::allocate call for new flex API
  torch_spyre/csrc/spyre_allocator.cpp
Due: none

subtraction should work now
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

fix: update the transformers library version for Mistral 3
  pyproject.toml
  requirements/dev.txt
  uv.lock
Due: check-requirements-dev

Naming mismatch correction for FP32 tensors for ReLU operation
  torch_spyre/_inductor/constants.py
Due: enforce-import-regex-instead-of-re

Reenable eager tests for transpose + contiguous, as they now work
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Fix rms_norm decomposition (#1305)
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
