Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

Fix stream-context re-entrancy leak in torch_spyre.Stream
  tests/test_stream.py
  torch_spyre/streams.py
Due: enforce-import-regex-instead-of-re

cleaning up code
  tests/test_split_execution.py
Due: enforce-import-regex-instead-of-re

fix(inductor): preserve nested coarse-tile layouts
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_codegen.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

addressing feedback Signed-off-by: Laura Lovelace <Laura.Lovelace@ibm.com>
  torch_spyre/csrc/job_plan.cpp
Due: none

fix(inductor): keep a strided stick-tile coordinate's footprint exact
  tests/inductor/test_inductor_ops.py
  tests/tensor/test_coordinates.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

test(inductor): d2d column narrow and stepped slice now pass; drop stale expectedFailure
  tests/inductor/test_copy_from_d2d_offsets.py
Due: enforce-import-regex-instead-of-re

test(configs): register the issue 4050 view-slice tests in misc shape shard A
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_a_config.yaml
Due: none

fix format
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/prepare_kernel.cpp
  torch_spyre/csrc/spyre_stream.cpp
Due: none

fix(inductor): enable mid-stick torch.cat by sharing one mutation buffer layout
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

fix tests: migrate Allocate sites to static_size + dynamic_size
  tests/test_launch_jobplan.py
  tests/test_prepare_kernel.py
Due: enforce-import-regex-instead-of-re

modify job plan to use RuntimeOperationHostProduce
  torch_spyre/csrc/job_plan.cpp
Due: none

docs(inductor): clarify conservative retile fallbacks
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

feat(inductor): add nonstick_dim_order pass
  tests/inductor/test_restickify.py
  tests/inductor/test_sliding_window_attention.py
  torch_spyre/_inductor/nonstick_dim_order.py
  torch_spyre/_inductor/optimize_restickify.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

drop _spyre.yaml files to avoid workarounds
  tests/configs/model_ops_tests/Meta-Llama-3.1-8B-Instruct_spyre.yaml
  tests/configs/model_ops_tests/Ministral-3-14B-Instruct-2512_spyre.yaml
  tests/configs/model_ops_tests/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
  tests/configs/model_ops_tests/Qwen2.5-7B-Instruct_spyre.yaml
  tests/configs/model_ops_tests/gemma-4-12B-it_spyre.yaml
  tests/configs/model_ops_tests/gemma-4-26B-A4B-it_spyre.yaml
  tests/configs/model_ops_tests/gpt-oss-20b_spyre.yaml
  tests/configs/model_ops_tests/granite-3.3-8b-instruct-fms_spyre.yaml
  tests/configs/model_ops_tests/granite-3.3-8b-instruct_spyre.yaml
  tests/configs/model_ops_tests/granite-4.1-8b_spyre.yaml
  tests/resource/models/Meta-Llama-3.1-8B-Instruct_spyre.yaml
  tests/resource/models/Ministral-3-14B-Instruct-2512_spyre.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
  tests/resource/models/Qwen2.5-7B-Instruct_spyre.yaml
  tests/resource/models/gemma-4-12B-it_spyre.yaml
  tests/resource/models/gemma-4-26B-A4B-it_spyre.yaml
  tests/resource/models/gpt-oss-20b_spyre.yaml
  tests/resource/models/granite-3.3-8b-instruct-fms_spyre.yaml
  tests/resource/models/granite-3.3-8b-instruct_spyre.yaml
  tests/resource/models/granite-4.1-8b_spyre.yaml
Due: none

update CI/CD scripts to take care of eliminations
  .github/scripts/parse_model_ops_logs.py
  .github/workflows/model_ops_tests.yaml
  .github/workflows/model_ops_tests_nightly.yaml
Due: enforce-import-regex-instead-of-re

Wire the generated wrapper conftest into pytest and log the real error behind xfail
  tests/oot_framework/run_test.sh
Due: none

feat: Move to pytorch 2.14
  .claude/skills/project-overview/SKILL.md
  .github/actions/build-torch-spyre-local-pytorch/action.yml
  .github/workflows/push-pytorch-dispatch-to-clickhouse.yaml
  docs/source/getting_started/installation.md
  docs/source/user_guide/debugging/op_spec_lab.md
  pyproject.toml
  requirements/build.txt
  requirements/dev.txt
  requirements/run.txt
  uv.lock
Due: check-requirements-dev

Fix packed routing layouts for Gemma 4 MoE (#4100)
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_op_spec_validation.py
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/op_spec_validation.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

Extract compute_coordinates and normalize_coordinates fixes from #4108 and relevant tests (#4201)
  tests/tensor/test_coordinates.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

fix(ci): dedupe job-log downloads to stop double-counted rows in ClickHouse hw diagnostics (#4214)
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
Due: none

fix(inductor): handle factorized matmul inputs in layout propagation and stick compatibility (#4212)
  tests/tensor/test_coordinates.py
  tests/tensor/test_tensor_layout.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

fix(inductor): preserve staggered RMSNorm layout (#4169)
  tests/inductor/test_building_blocks.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

cleanup test_coarse_tile_e2e: update skips and test comments (#4175)
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_hbm_pool_planning.py
Due: enforce-import-regex-instead-of-re

test: extract GQA + finite-mask KV-chunked flash attention case from PR #3981 (#4161)
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

Remove BMM marking temp pass (#4192)
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/temp_passes.py
Due: enforce-import-regex-instead-of-re

fix(tests): bound torch.setitem.1 idx tensor to indexed dim size (#3858)
  tests/configs/model_ops_tests/gemma-4-26B-A4B-it.yaml
  tests/configs/model_ops_tests/gemma-4-26B-A4B-it_spyre.yaml
  tests/resource/models/gemma-4-26B-A4B-it.yaml
  tests/resource/models/gemma-4-26B-A4B-it_spyre.yaml
Due: none

Remove SEN_COMMON_HEADERS dependency (#4085)
  setup.py
Due: enforce-import-regex-instead-of-re

fix(inductor): tolerate mixed-dtype reductions in layout and named-dims passes (#4158)
  tests/inductor/test_inductor_normalization_scalars.py
  tests/inductor/test_propagate_named_dims.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/wsr/propagate_named_dims.py
Due: enforce-import-regex-instead-of-re

fix(hw diagnostics): track pod-level-retry outcomes distinctly in ClickHouse hw diagnostics ingest (#4205)
  .github/scripts/ingest_hw_diagnostics.py
  .github/scripts/parse_hw_failures.py
Due: enforce-import-regex-instead-of-re

feat: Add CRCR RH callback (#4001)
  .github/workflows/build_test_pytorch_source.yaml
  .github/workflows/push-pytorch-dispatch-to-clickhouse.yaml
Due: none

coarse_tile: fixes for flash when tiling both B and H dimensions (#4133)
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/work_division_constraints.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Feat(tests): add yaml files of gemma on gpu for op-level tests (#4112)
  tests/configs/model_ops_tests/gemma-4-12B-it.yaml
  tests/configs/model_ops_tests/gemma-4-12B-it_spyre.yaml
  tests/configs/model_ops_tests/gemma-4-26B-A4B-it.yaml
  tests/configs/model_ops_tests/gemma-4-26B-A4B-it_spyre.yaml
  tests/models/op_registry.py
  tests/models/runner.py
  tests/models/test_model_ops.py
  tests/models/test_model_ops_v2.py
  tests/oot_framework/oot_test_config_models.py
  tests/oot_framework/oot_test_constants.py
  tests/resource/models/gemma-4-12B-it.yaml
  tests/resource/models/gemma-4-12B-it_spyre.yaml
  tests/resource/models/gemma-4-26B-A4B-it.yaml
  tests/resource/models/gemma-4-26B-A4B-it_spyre.yaml
Due: enforce-import-regex-instead-of-re

feat(cost-model): price the LX relayout shuffle instead of charging zero (#3844)
  tests/inductor/test_cost_model_pass.py
  torch_spyre/_inductor/cost_model.py
  torch_spyre/_inductor/cost_model_pass.py
  torch_spyre/_inductor/dump_cost_model.py
Due: enforce-import-regex-instead-of-re

fix(ci): stop meta/gate jobs from polluting suite_name in hw diagnostics ingest (#4213)
  .github/scripts/parse_hw_failures.py
Due: enforce-import-regex-instead-of-re

Delete greedy restickify optimizer (#4170)
  docs/source/api/torch_spyre.rst
  tests/inductor/test_copy_back_elision.py
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/optimize_restickify.py
Due: enforce-import-regex-instead-of-re

fix(inductor): reject HBM pool candidates whose allocation is read by another bundle (#4193)
  tests/inductor/test_hbm_pool_planning.py
  torch_spyre/_inductor/hbm_pool_planning.py
Due: enforce-import-regex-instead-of-re

Make run_test.sh aware of SPYRE_DEVICES (#3952)
  tests/oot_framework/run_test.sh
Due: none

Fix versioning (#4120)
  setup.py
  tests/configs/torch_spyre_tests/test_version_config.yaml
  tests/test_version.py
  torch_spyre/version.py
Due: enforce-import-regex-instead-of-re

Remove flaky test for now (#4167)
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

fix(inductor): support matmul with unit N/M dimensions (#4206)
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/op_spec_validation.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re
