Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

fix(test): capture real top-level graph in nested marker-resolution test
  tests/inductor/test_for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

fix(test): correct vacuous marker-leftover assertion + add safety-net tests
  tests/inductor/test_for_each_tile_lowering.py
  torch_spyre/_inductor/wsr/for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

fix(test): snapshot graph.operations in nested marker-resolution test
  tests/inductor/test_for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

fix(test): fold nested fixture sanity checks into existing test file
  tests/inductor/test_for_each_tile_lowering.py
  tests/inductor/test_nested_for_each_tile_fixture.py
Due: enforce-import-regex-instead-of-re

fix(inductor): keep StarDep-branch tile_dim_marker ops materialized
  tests/inductor/test_for_each_tile_lowering.py
  torch_spyre/_inductor/wsr/coarse_tile.py
  torch_spyre/_inductor/wsr/for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

fix(inductor): exclude broadcast dims from generic-layout stick-dim ranking
  tests/inductor/test_for_each_tile_lowering.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

fix(inductor): address PR #4559 review findings on marker substitution
  torch_spyre/_inductor/wsr/for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

fix(inductor): exempt point reads from marker-gap raise in _hint_ranges_pos
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Skip 3 known-broken TestMatmulStick negative-case tests
  tests/inductor/test_op_spec_validation.py
Due: enforce-import-regex-instead-of-re

Fix test_the_symbolic_split_cost_expression_linearizes API drift
  tests/inductor/test_op_features.py
Due: enforce-import-regex-instead-of-re

Fix CWD-relative fixture paths in test_capture_boundary_mapping_is_exact
  tests/inductor/test_cooptimization_types.py
Due: enforce-import-regex-instead-of-re

feat(inductor): add MarkerResolution to distinguish marker consumption kinds
  tests/inductor/test_for_each_tile_lowering.py
  torch_spyre/_inductor/wsr/for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

fix(inductor): synthesize dim hints for STAR_DEP_KEPT tile markers (#4581)
  tests/inductor/test_for_each_tile_lowering.py
  torch_spyre/_inductor/wsr/for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

test(inductor): add triple-nesting marker_resolution fixtures
  tests/inductor/for_each_tile_fixtures.py
Due: enforce-import-regex-instead-of-re

test(inductor): document multilevel fixture marker-loss finding (Issue #4581 territory)
  tests/inductor/for_each_tile_fixtures.py
Due: enforce-import-regex-instead-of-re

test(inductor): fix reference-function shape mismatch in triple-nesting fixtures
  tests/inductor/for_each_tile_fixtures.py
Due: enforce-import-regex-instead-of-re

test(inductor): add sibling-nesting marker_resolution fixtures
  tests/inductor/for_each_tile_fixtures.py
Due: enforce-import-regex-instead-of-re

test(inductor): correct stale unreachability claim for 2-consumer marker
  tests/inductor/test_for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

test(inductor): verify marker_resolution fix across nesting depth and siblings
  tests/inductor/test_for_each_tile_lowering.py
Due: enforce-import-regex-instead-of-re

feat(ci): make the ingest component-agnostic via --component
  .github/scripts/ingest_xml.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

docs(compiler): add WIP marker_resolution stub
  docs/source/compiler/index.rst
  docs/source/compiler/marker_resolution.md
Due: none

feat(ci): thread --component through the GHA ingest path, and wire run-id there
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/workflows/_test_matrix.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/push-to-clickhouse.yaml
Due: none

docs(inductor): correct triple-nesting fixture docstrings per final review
  tests/inductor/for_each_tile_fixtures.py
Due: enforce-import-regex-instead-of-re

fix(ci): keep integration-tests under the pinned actionlint's 10-input cap
  .github/workflows/integration-tests.yaml
Due: none

fix(ci): bump actionlint to v1.7.12 and drop `type:` from composite action inputs
  .github/actions/build-pytorch-from-source/action.yml
  .github/actions/build-torch-spyre-local-pytorch/action.yml
  .github/actions/checkout-pytorch/action.yml
  .github/actions/download-rpms/action.yml
  .github/actions/gather-runner-info/action.yml
  .github/actions/run-test-suite/action.yml
  .github/workflows/integration-tests.yaml
  .pre-commit-config.yaml
Due: none

refactor(ci): derive v2_tables_present's names from the schema model
  .github/scripts/ingest_xml.py
Due: enforce-import-regex-instead-of-re

[inductor] Disambiguate P=1 scatter target dim and verify mutation layout invariant
  tests/inductor/test_indirect_access_internals.py
  tests/inductor/test_indirect_access_scatter.py
  torch_spyre/_inductor/enforce_indirect_access_layout.py
Due: enforce-import-regex-instead-of-re

fix(ci): upload the threaded run_id artifact, completing the v2 join transport
  .github/workflows/_test_matrix.yaml
Due: none

fix(inductor): align exact SDPA KV tiles
  tests/inductor/test_building_blocks.py
  tests/inductor/test_sdpa_tiling.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

update compositeAddressToDmva() call
  torch_spyre/csrc/spyre_allocator.cpp
Due: none

test(inductor): bound exact SDPA tile search
  tests/inductor/test_sdpa_tiling.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

feat(extensions): add spyre-clickhouse-ingest, the shared v2 schema and write path
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/pyproject.toml
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__init__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/client.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/identity.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/junit.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/schema.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/v2_writer.py
  extensions/clickhouse-ingest/tests/test_identity_golden.py
Due: check-requirements-dev, enforce-import-regex-instead-of-re

refactor(ci): use the shared library and delete the in-repo copies
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/scripts/check_v2_schema_drift.py
  .github/scripts/ingest_xml.py
  .github/scripts/v2_schema.py
  .github/workflows/push-to-clickhouse.yaml
  extensions/clickhouse-ingest/tests/test_schema.py
Due: enforce-import-regex-instead-of-re

chore: give extensions/clickhouse-ingest the same owners as /.github/
  CODEOWNERS
Due: none

docs: trim comments to the enduring facts
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/scripts/ingest_xml.py
  .github/workflows/push-to-clickhouse.yaml
  CODEOWNERS
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__init__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/identity.py
  extensions/clickhouse-ingest/tests/test_identity_golden.py
Due: enforce-import-regex-instead-of-re

fix(inductor): accept dense flattened restickify inputs
  tests/inductor/test_building_blocks.py
  tests/inductor/test_padding.py
  torch_spyre/_inductor/padding.py
Due: enforce-import-regex-instead-of-re

test: put extensions/clickhouse-ingest on sys.path for the ingest tests
  tests/test_ingest_kernel_xml.py
  tests/test_ingest_xml.py
  tests/test_reuse_copy.py
Due: enforce-import-regex-instead-of-re

feat(extensions): move v2_run_id_for into the library
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__init__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/identity.py
Due: enforce-import-regex-instead-of-re
