Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

feat(clickhouse-ingest): add v2 pipeline_runs and pipeline_run_legs
  extensions/clickhouse-ingest/schema/47-pipeline-runs.sql
  extensions/clickhouse-ingest/schema/53-pipeline-views.sql
  extensions/clickhouse-ingest/schema/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/sandbox.py
  extensions/clickhouse-ingest/tests/test_sandbox.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): let pipeline_runs hold GitHub Actions runs too
  extensions/clickhouse-ingest/schema/47-pipeline-runs.sql
  extensions/clickhouse-ingest/schema/53-pipeline-views.sql
Due: none

docs(clickhouse-ingest): state what build_ms/test_ms span per pipeline type
  extensions/clickhouse-ingest/schema/47-pipeline-runs.sql
Due: none

fix(clickhouse-ingest): classify GHA conclusions that reached no verdict
  extensions/clickhouse-ingest/schema/53-pipeline-views.sql
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/gha_runs.py
  extensions/clickhouse-ingest/tests/test_gha_runs.py
Due: enforce-import-regex-instead-of-re

Skip intermittent test_flash_v3_tile_B (#5180)
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

fix(clickhouse-ingest): retry truncated GitHub responses in the GHA poller
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/gha_runs.py
  extensions/clickhouse-ingest/tests/test_gha_runs.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): move reorder_nonstick_dims after optimize_restickify, switch to committed_stl
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/nonstick_dim_order.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

feat(ndo): add gather IA dim-order constraint transform (phase 1)
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

feat(ndo): add scatter IA dim-order constraint transform (phase 1)
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

fix(clickhouse-ingest): read one latest artifact_results row per verdict
  extensions/clickhouse-ingest/schema/50-artifact-views.sql
  extensions/clickhouse-ingest/schema/60-benchmark-views.sql
Due: none

feat(clickhouse-ingest): artifacts resolve -- a tested image's artifact id and supply-chain tag
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/artifacts.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/registry.py
  extensions/clickhouse-ingest/tests/test_artifacts_resolve.py
Due: enforce-import-regex-instead-of-re

fix(tests): a strict xfail that passes fails the run
  tests/conftest.py
  tests/test_device_error_skip.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): add reorder_nonstick_dims_mutation for mutation target dim ordering
  torch_spyre/_inductor/enforce_indirect_access_layout.py
  torch_spyre/_inductor/nonstick_dim_order.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

Stick Expression error fix
  4443_test.py
  tests/inductor/test_indirect_access_scatter.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

fix(ndo): fix gather IA constraint value-tensor detection, delete EIA fallback
  torch_spyre/_inductor/enforce_indirect_access_layout.py
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): replace _collect_triples with two inline backward walks
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): resolve any artifact kind to its existing record; ensure_artifact
  .github/scripts/ingest_xml.py
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__init__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/artifacts.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/identity.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/registry.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/resolver.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/writer.py
  extensions/clickhouse-ingest/tests/test_artifacts_resolve.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): default the artifact date to the run's own day
  .github/scripts/ingest_xml.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/artifacts.py
  extensions/clickhouse-ingest/tests/test_artifacts_resolve.py
  extensions/clickhouse-ingest/uv.lock
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

refactor(clickhouse-ingest): name tags by tag_family and tag_date; accept full tags
  .github/scripts/ingest_xml.py
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/artifacts.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/registry.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/resolver.py
  extensions/clickhouse-ingest/tests/test_artifacts_resolve.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

fix(clickhouse-ingest): keep a compiled kernel's benchmark_id across recompiles
  extensions/clickhouse-ingest/schema/30-benchmarks.sql
  extensions/clickhouse-ingest/schema/60-benchmark-views.sql
  extensions/clickhouse-ingest/schema/migrations/012_benchmark_id_without_kernel_hash.sql
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/identity.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/writer.py
  extensions/clickhouse-ingest/tests/test_benchmark_writer.py
  extensions/clickhouse-ingest/tests/test_identity_golden.py
Due: enforce-import-regex-instead-of-re

feat(ci): v2-artifact composite action; artifact spec on the XML ingest action
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/actions/v2-artifact/action.yml
  .github/workflows/push-to-clickhouse.yaml
Due: none

feat(clickhouse-ingest): gha: artifact spec; --artifact-id goes through ensure_artifact
  .github/scripts/ingest_xml.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/resolver.py
  extensions/clickhouse-ingest/tests/test_artifacts_resolve.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

chore(clickhouse-ingest): drop a stray uv.lock
  extensions/clickhouse-ingest/uv.lock
Due: none

fix(clickhouse-ingest): re-key benchmark_metric_verdicts in migration 012
  extensions/clickhouse-ingest/schema/migrations/012_benchmark_id_without_kernel_hash.sql
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/apply_schema.py
  extensions/clickhouse-ingest/tests/test_apply_schema.py
Due: enforce-import-regex-instead-of-re

feat(ci): v2-artifact connects with clickhouse-v2-*, shared set as fallback
  .github/actions/v2-artifact/action.yml
Due: none

feat(clickhouse-ingest): one artifact interface for every surface; ingest moves into the package
  .github/scripts/ingest_xml.py
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/pyproject.toml
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__init__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__main__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/artifacts.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/options.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/registry.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/resolver.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/results.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/tag_families.yaml
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/writer.py
  extensions/clickhouse-ingest/tests/test_artifact_writer.py
  extensions/clickhouse-ingest/tests/test_artifacts_resolve.py
  tests/test_ingest_kernel_xml.py
  tests/test_ingest_xml.py
  tests/test_reuse_copy.py
Due: check-requirements-dev, enforce-import-regex-instead-of-re

feat(ci): v2-artifact and the XML ingest action on the package CLI
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/actions/v2-artifact/action.yml
  .github/workflows/push-to-clickhouse.yaml
Due: none

fix(clickhouse-ingest): poll GHA runs within a rate budget and resume from a watermark
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/gha_runs.py
  extensions/clickhouse-ingest/tests/test_gha_runs.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): rename helpers to clarify matmul vs IA scope
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

fix(clickhouse-ingest): make migration 012 safe to rerun after a partial pass
  .github/workflows/clickhouse-schema.yaml
  extensions/clickhouse-ingest/schema/migrations/012_benchmark_id_without_kernel_hash.sql
  extensions/clickhouse-ingest/tests/test_kernel_rekey_migration.py
Due: enforce-import-regex-instead-of-re

Remove stale xfail for the 196-element upcast case
  tests/inductor/test_ea_bidirectional_conversion.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): add _buf_stl helper for uniform STL access
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

Enforce output buffer size check on flex
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
Due: none

fix(compiler): remove legacy loop unroll alias
  docs/source/compiler/working_set_reduction.md
  tests/test_async_compile.py
  torch_spyre/_inductor/config.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): fix _buf_stl docstring to accurately describe InputBuffer path
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

fix(clickhouse-ingest): results keeps source=jenkins|gha on the artifact and its tags
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/results.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): add _DeferredReorder and nonstick_deferred list
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): convert _DeferredReorder to NamedTuple with Literal kind
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

Remove references to backend components in comments for max_pool2d tests
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

refactor(ndo): move scatter mutation target decisions into phase 1
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re
