Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

test: assert the rejection for 35 xfails that are deliberate guards
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_b_config.yaml
  tests/inductor/test_inductor_ops.py
  tests/tensor/test_coordinates.py
Due: enforce-import-regex-instead-of-re

test: assert the rejection for 11 more xfails that are deliberate guards
  tests/inductor/test_inductor_dtype_scalars.py
  tests/inductor/test_inductor_normalization_scalars.py
  tests/inductor/test_inductor_scalar.py
  tests/inductor/test_inductor_transpose_edge.py
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

fix(clickhouse-ingest): make results --dry-run write nothing
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/resolver.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/results.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/writer.py
  extensions/clickhouse-ingest/tests/test_dry_run.py
Due: enforce-import-regex-instead-of-re

perf(moe): keep loop accumulators and invariant inputs on chip across trips (#5090)
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_for_each_tile_lowering.py
  tests/inductor/test_scratchpad_solver.py
  tests/inductor/test_work_division.py
  torch_spyre/_inductor/loop_info.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/graph_editor.py
  torch_spyre/_inductor/scratchpad/utils.py
  torch_spyre/_inductor/wsr/while_loop_bridge.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): record the trigger PR's base branch as ci_run_timings.base_ref
  extensions/clickhouse-ingest/docs/jenkins-shared-library.md
  extensions/clickhouse-ingest/schema/48-ci-run-timings.sql
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/ci_run_timings.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/schema.py
  extensions/clickhouse-ingest/tests/test_ci_run_timings.py
Due: enforce-import-regex-instead-of-re

backport origin_in_graph import
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

test: make the lx suite test expect that expect_raise tests are not copied
  tests/inductor/test_lx_planning_suite.py
Due: enforce-import-regex-instead-of-re

fix(inductor): select missing clamp bounds by input dtype
  tests/inductor/test_codegen.py
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

test: make three unstable strict xfails non-strict
  tests/configs/torch_spyre_tests/inductor/test_expect_fail_unstable_config.yaml
  tests/inductor/test_expect_fail_unstable.py
  tests/inductor/test_inductor_ops.py
  tests/inductor/utils_inductor.py
Due: enforce-import-regex-instead-of-re

fix(ndo): restore correct scatter IA dim rotation from enforce_indirect_access_layout.py
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re

test: address review feedback on the expect_raise tests
  tests/inductor/test_expect_raise.py
  tests/inductor/test_inductor_dtype_scalars.py
  tests/inductor/test_inductor_normalization_scalars.py
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_scalar.py
  tests/inductor/test_inductor_transpose_edge.py
  tests/inductor/utils_inductor.py
  tests/tensor/test_coordinates.py
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

distributed: skip wait_work host–device sync in single-stream mode
  torch_spyre/csrc/distributed/spyre_distributed.cpp
Due: none

Add TORCH_SPYRE_DIST_SKIP_WAIT, and retain the WorkSchedule objects
  torch_spyre/csrc/distributed/spyre_ccl.cpp
  torch_spyre/csrc/distributed/spyre_ccl.hpp
  torch_spyre/csrc/distributed/spyre_distributed.cpp
Due: none

Fix review comments
  docs/source/runtime/index.md
  torch_spyre/csrc/distributed/spyre_distributed.cpp
Due: none

TORCH_SPYRE_DIST_ENFORCE_WAIT=1 now enforces the wait
  docs/source/runtime/index.md
  torch_spyre/csrc/distributed/spyre_distributed.cpp
Due: none

Use the relinquish_work_schedule API from Spyre Comms
  torch_spyre/csrc/distributed/spyre_ccl.cpp
  torch_spyre/csrc/distributed/spyre_ccl.hpp
  torch_spyre/csrc/distributed/spyre_distributed.cpp
Due: none

Adjust docs to reflect the current implementation
  docs/source/runtime/index.md
Due: none

Adjust check_collective_errors to be stream specific
  torch_spyre/csrc/distributed/spyre_distributed.cpp
Due: none

Add keep_alive mechanism
  torch_spyre/csrc/distributed/spyre_distributed.cpp
Due: none

feat(clickhouse-ingest): offline results bundles (bundle init|seal|validate|ingest)
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/pyproject.toml
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__main__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/bundle.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/bundle.schema.json
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/options.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/results.py
  extensions/clickhouse-ingest/tests/test_bundle.py
Due: check-requirements-dev, enforce-import-regex-instead-of-re

test: run test_mean_keepdim1 and test_sum_keepdim1 in the keepdim shard
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_reduction_keepdim_index_norm_eager_config.yaml
Due: none

feat(clickhouse-ingest): vLLM perf bundles, and the image digest as artifact fallback
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/bundle.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/bundle.schema.json
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/vllm.py
  extensions/clickhouse-ingest/tests/data/vllm_bundle/attachments/latency_granite8B_tp1_in64_out64.cmd
  extensions/clickhouse-ingest/tests/data/vllm_bundle/results/latency_granite8B_tp1_in64_out64.json
  extensions/clickhouse-ingest/tests/data/vllm_bundle/results/latency_granite8B_tp1_in64_out64.pytorch.json
  extensions/clickhouse-ingest/tests/data/vllm_bundle/results/throughput_granite8B_tp1_in64_out64.json
  extensions/clickhouse-ingest/tests/data/vllm_bundle/results/throughput_granite8B_tp1_in64_out64.pytorch.json
  extensions/clickhouse-ingest/tests/test_bundle.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): tag a GHA leg's artifact by the CI event that built it
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/workflows/push-to-clickhouse.yaml
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/results.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): key the vLLM HUD projection by artifact tag
  extensions/clickhouse-ingest/schema/60-benchmark-views.sql
  extensions/clickhouse-ingest/schema/70-vllm-hud-projection.sql
  extensions/clickhouse-ingest/schema/README.md
  extensions/clickhouse-ingest/schema/migrations/013_hud_projection_repo_and_workflow_id.sql
  extensions/clickhouse-ingest/tests/test_sandbox.py
Due: enforce-import-regex-instead-of-re

ci(integration-tests): accept test_type=model_ops for the orchestrator's model-ops leg
  .github/workflows/integration-tests.yaml
Due: none

refactor(clickhouse-ingest): offline bundles through `results`, minimal bundle.json
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__init__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__main__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/bundle.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/bundle.schema.json
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/offline.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/results.py
  extensions/clickhouse-ingest/tests/test_bundle.py
  tools/enforce_regex_import.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): artifact subscriptions and dispatch ledger for spyre_v2
  extensions/clickhouse-ingest/schema/25-artifact-dispatch.sql
  extensions/clickhouse-ingest/schema/54-dispatch-views.sql
  extensions/clickhouse-ingest/schema/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__main__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/dispatch.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/sandbox.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/schema.py
  extensions/clickhouse-ingest/tests/test_dispatch.py
  extensions/clickhouse-ingest/tests/test_sandbox.py
  extensions/clickhouse-ingest/tests/test_schema.py
Due: enforce-import-regex-instead-of-re

fix(clickhouse-ingest): read dispatch timestamps as UTC
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/dispatch.py
  extensions/clickhouse-ingest/tests/test_dispatch.py
  extensions/clickhouse-ingest/uv.lock
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): dispatch event types, conditions, limits, payload, preview
  extensions/clickhouse-ingest/schema/25-artifact-dispatch.sql
  extensions/clickhouse-ingest/schema/54-dispatch-views.sql
  extensions/clickhouse-ingest/schema/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/dispatch.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/schema.py
  extensions/clickhouse-ingest/tests/test_dispatch.py
Due: enforce-import-regex-instead-of-re

fix(clickhouse-ingest): never record a commit sha as a vLLM run's head_branch
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/vllm.py
  extensions/clickhouse-ingest/tests/test_bundle.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): tag a scheduled run of main as that day's nightly; export ci_tags
  .github/actions/ingest-xml-to-clickhouse/action.yml
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/__init__.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/options.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/results.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): results --capability-legs-only for a Jenkins leg's capability verdicts
  extensions/clickhouse-ingest/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/results.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

test: make the bfloat16 4x63 implicit round-trip xfail non-strict too
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

ci: run xfail-marked tests in PR CI
  .github/suite_test_flags.yaml
  .github/workflows/torch_spyre_tests.yaml
Due: none

docs(clickhouse-ingest): document the v2-artifact action and the v2Artifact / v2Results steps
  extensions/clickhouse-ingest/docs/README.md
  extensions/clickhouse-ingest/docs/github-actions.md
  extensions/clickhouse-ingest/docs/jenkins-shared-library.md
Due: none

fix(ci): take the ingest tier from the test matrix, not the run title
  .github/workflows/_test_matrix.yaml
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
  .github/workflows/push-to-clickhouse.yaml
Due: none

docs(clickhouse-ingest): document dispatch preview/request and dispatch.py
  extensions/clickhouse-ingest/README.md
Due: none

fix(ci): let a run-name tier win over the test-type artifact
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
  .github/workflows/push-to-clickhouse.yaml
Due: none

refactor(clickhouse-ingest): offline.py without `re`; drop the regex-hook exemption
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/bundle.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/offline.py
  extensions/clickhouse-ingest/tests/test_bundle.py
  tools/enforce_regex_import.py
Due: enforce-import-regex-instead-of-re

refactor(clickhouse-ingest): offline.py back on stdlib `re`, exempt from the regex hook
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/bundle.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/offline.py
  extensions/clickhouse-ingest/tests/test_bundle.py
  tools/enforce_regex_import.py
Due: enforce-import-regex-instead-of-re
