Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

docs: document MAX_POOL_SIZE_BYTES budget and overflow fallback
  docs/source/compiler/hbm_pool_planning.md
Due: none

fix(inductor): gather the whole index when its sticks are not adjacent
  torch_spyre/_inductor/enforce_indirect_access_layout.py
Due: enforce-import-regex-instead-of-re

fix(ingest): license header on the new test, warning to stderr
  .github/scripts/ingest_xml.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

fix(ingest): parse with stdlib ElementTree instead of lxml
  .github/scripts/ingest_xml.py
  pyproject.toml
  requirements/dev.txt
  tests/test_ingest_xml.py
  uv.lock
Due: check-requirements-dev, enforce-import-regex-instead-of-re

tests: add e2e regression test for #3775 hbm_pool aliasing fix
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

docs(profiling): fix broken table row and stray bullet fragment
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

test_scratchpad_use: fix mock missing .graph.owning_module
  tests/inductor/test_scratchpad_use.py
Due: enforce-import-regex-instead-of-re

fix(ingest): take the kernel schema from the migration, not from here
  .github/scripts/ingest_xml.py
  tests/test_ingest_kernel_xml.py
Due: enforce-import-regex-instead-of-re

test(ci): wire the kernel-XML test into the CI config
  tests/configs/torch_spyre_tests/test_ingest_kernel_xml_config.yaml
Due: none

test: run nested_compile_region guard test in default CI sweeps
  tests/configs/torch_spyre_tests/test_nested_compile_region_guard_config.yaml
Due: none

fix(ci): parse with stdlib ElementTree so the new test can run
  .github/scripts/ingest_xml.py
  tests/test_ingest_kernel_xml.py
Due: enforce-import-regex-instead-of-re

Script for e2e granite profiling
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

docs(hf-adapters): document vision-language image input and dependency resolution
  docs/source/user_guide/running_hf_models.md
Due: none

docs(profiling): address review, use upstream Kineto framing
  docs/source/contributing/profiling.md
  docs/source/getting_started/how_torch_spyre_works.md
  docs/source/user_guide/profiling/index.md
  docs/source/user_guide/profiling/performance_analysis_methodology.md
  docs/source/user_guide/profiling/pytorch_profiler.md
Due: none

ci: echo the exact run_test.sh command before running it
  .github/actions/run-test-suite/action.yml
Due: none

Integrated review feedback
  docs/source/_ext/extract_graph.py
  docs/source/runtime/index.md
  tests/inductor/test_inplace_op_kernels.py
Due: enforce-import-regex-instead-of-re

remove unused code
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/job_plan.h
  torch_spyre/csrc/spyre_allocator.cpp
  torch_spyre/csrc/spyre_allocator.h
Due: none

Fixed relayout on topk
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_lx_reduction_scalar_config.yaml
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/work_division.py
  torch_spyre/_inductor/work_division_constraints.py
Due: enforce-import-regex-instead-of-re

Keep spyre topk index in its input dtype through the decomposition
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

fix(tests): repair docstring typos from copy_f→copy_forced rename
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

refactor(lowering): dedup copy_forced/opaque_copy_ lowering bodies
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

fix(coarse_tile): narrow bare except in mutation_write_back detection
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

docs: refresh docs against current code
  docs/source/_static/images/spyre-device-views.svg
  docs/source/api/torch_spyre.rst
  docs/source/compiler/inductor_frontend.md
  docs/source/contributing/guidelines.md
  docs/source/getting_started/how_torch_spyre_works.md
  docs/source/getting_started/key_concepts.md
  docs/source/runtime/index.md
  docs/source/user_guide/profiling/pytorch_profiler.md
  docs/source/user_guide/supported_operations.md
Due: none

ci(perf): skip empty-matrix test job in perf mode (#3869)
  .github/workflows/_test_matrix.yaml
Due: none

test(sdsc): drop removed use_symbols kwarg from _compile_specs/generate_bundle calls
  tests/inductor/test_sdsc_logging.py
Due: enforce-import-regex-instead-of-re

Use empty method inplace of randn
  tests/test_memory_pressure_gc.py
Due: enforce-import-regex-instead-of-re

Skip tests without dci support
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

Address comments
  tests/inductor/test_inductor_ops.py
  tests/test_spyre.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

fix(coarse_tile): fix raw/squeezed dim mismatch and full-size lookup in read copies
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Add coarse_tile_e2e tests for MoE-style broadcast-batch matmul tiling
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

Point skip reason at issue #3888 instead of #3613 comments
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

fix comments; review comment from 3880
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

Un-xfail 3 tests fixed by #3613's raw/squeezed dim fix
  tests/inductor/test_span_overflow_hint_analysis.py
Due: enforce-import-regex-instead-of-re

docs: add unified-logging skill under torch_spyre/_inductor/.claude
  torch_spyre/_inductor/.claude/skills/inductor-overview/SKILL.md
  torch_spyre/_inductor/.claude/skills/logging/SKILL.md
Due: none

fix(coarse_tile): fix uninitialized HBM read in MoE E-tiled broadcast matmul
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

inductor: pad restickify inputs and outputs for unaligned host dims
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_transpose_edge.py
  tests/inductor/test_provenance_integration.py
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/dedup_constants.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

fix(coarse_tile): replace numel-coincidence dep_has_dim_d check with rank-excess
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

fix(inductor): reject unsafe LX relayout plans
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/scratchpad/lx_relayout.py
Due: enforce-import-regex-instead-of-re
