Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

test(bundle): anchor affine-map strides to ground-truth values from unroll tests
  tests/inductor/test_coarse_tiling.py
Due: enforce-import-regex-instead-of-re

fix(bundle): clarify affine-map iterator and stride-ordering invariants
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/codegen/bundle.py
Due: enforce-import-regex-instead-of-re

docs: move examples/ into docs/source/user_guide/examples/
  README.md
  docs/source/user_guide/examples/distributed/allgather.py
  docs/source/user_guide/examples/distributed/allreduce.py
  docs/source/user_guide/examples/distributed/barrier.py
  docs/source/user_guide/examples/distributed/broadcast.py
  docs/source/user_guide/examples/distributed/gather.py
  docs/source/user_guide/examples/distributed/reduce.py
  docs/source/user_guide/examples/gelu.py
  docs/source/user_guide/examples/index.md
  docs/source/user_guide/examples/mean.py
  docs/source/user_guide/examples/mul.py
  docs/source/user_guide/examples/softmax.py
  docs/source/user_guide/examples/softplus.py
  docs/source/user_guide/examples/spyre_hints.py
  docs/source/user_guide/examples/tensor_allocate.py
  docs/source/user_guide/index.rst
Due: enforce-import-regex-instead-of-re

docs: fix stale examples link in spyre_accelerator.md
  docs/source/architecture/spyre_accelerator.md
Due: none

remove example/distributeds from CODEOWNERS; directory moved
  CODEOWNERS
Due: none

docs: fix stale examples GitHub links in running_models and quickstart
  docs/source/getting_started/quickstart.md
  docs/source/user_guide/running_models.md
Due: none

Fixes for constants in indirect access
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

Skip ops with special ElementArrangement
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

:memo: cleanup comments
  tests/test_fallbacks.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

First draft of monkey patch to resolve issue 1339 - load models with spyre optimal layout
  torch_spyre/model_utils.py
Due: enforce-import-regex-instead-of-re

Added safetensors monkey patch from issue #400 from Pavitra. For testing the safe_tensors patch through optimal layout load path Added the patches in __init__.py
  torch_spyre/__init__.py
  torch_spyre/model_utils.py
  torch_spyre/safetensors_patch.py
Due: enforce-import-regex-instead-of-re

Addressed review comments from yuezhu1 and thoangtrvn
  torch_spyre/__init__.py
  torch_spyre/_monkey_patch.py
  torch_spyre/model_utils.py
  torch_spyre/safetensors_patch.py
Due: enforce-import-regex-instead-of-re

Fixed review comments for safetensors_patch.py
  torch_spyre/safetensors_patch.py
Due: enforce-import-regex-instead-of-re

Addressed review comments for model_utils.py Removed safetensor_patch.py as this will be submitted as part of issue 400
  tests/tensor/test_model_utils.py
  torch_spyre/_monkey_patch.py
  torch_spyre/model_utils.py
  torch_spyre/safetensors_patch.py
Due: enforce-import-regex-instead-of-re

Add test config for test_model_utils.py
  tests/configs/torch_spyre_tests/tensors/test_model_utils_config.yaml
Due: none

ruff format
  torch_spyre/model_utils.py
Due: enforce-import-regex-instead-of-re

CI: enable test_model_utils.py in tensor test matrix
  .github/workflows/_test_matrix.yaml
Due: none

test(xfail): mark keepdim1 mean/sum 3D dim failures as expected
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Fix getting correct torch name for validation
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

Fix skip eas condition for layernorm
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

fix: add fp32 comparison ops to SPYRE_FP32_OPS whitelist
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/constants.py
Due: enforce-import-regex-instead-of-re

test(xfail): mark test_nested_bmm_outer_Batch_inner_K_correct as expected failure
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

feat:add torch-spyre-tests to be able to upload report to clickhouse
  .github/workflows/_test_matrix.yaml
  .github/workflows/push-to-clickhouse.yaml
  .github/workflows/torch_spyre_tests.yaml
Due: none

Avoid _C import and add new test
  tests/test_spyre_lazy_silent.py
  torch_spyre/__init__.py
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

Split tests
  tests/test_spyre_lazy_init.py
  tests/test_spyre_lazy_silent.py
Due: enforce-import-regex-instead-of-re

GHA config
  tests/configs/torch_spyre_tests/test_spyre_lazy_init_config.yaml
Due: none

GHA pt2
  .github/workflows/_test_matrix.yaml
Due: none

revert testing changes motivated by debugging
  tests/run_test.sh
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

fix: add missing mocks to loopspec source-inspection tests
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

fix: add missing mocks to loopspec source-inspection tests in test_work_division_hint
  tests/inductor/test_work_division_hint.py
Due: enforce-import-regex-instead-of-re

Update for review comments
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

fix mlp related codes in lx pass, also enable caching to speed-up co-opt greedy search from ~4.5s to ~0.45s
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/utils.py
Due: enforce-import-regex-instead-of-re

test run
  tests/test_prepare_kernel.py
Due: enforce-import-regex-instead-of-re

add "concentrated" split options for matmul in CO_OPT
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/utils.py
Due: enforce-import-regex-instead-of-re

added workflow with pr-ecommit
  .github/workflows/intelligent_test_selection.yaml
  scripts/apply_change_rules.py
  scripts/build_source_to_suite_mapping.py
  scripts/build_test_to_suite_mapping.py
  scripts/combine_heuristics.py
  scripts/get_all_torch_spyre_suites.py
  tests/test_prepare_kernel.py
Due: enforce-import-regex-instead-of-re

regrex error
  scripts/apply_change_rules.py
  scripts/build_test_to_suite_mapping.py
  scripts/get_all_torch_spyre_suites.py
Due: enforce-import-regex-instead-of-re

added pytest-cov in pyprojecttoml
  pyproject.toml
  requirements/dev.txt
  uv.lock
Due: check-requirements-dev

remove pytest , check if it runs
  .github/workflows/intelligent_test_selection.yaml
Due: none

build before run
  .github/workflows/intelligent_test_selection.yaml
  .github/workflows/push-to-clickhouse.yaml
Due: none

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
