Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

refactor: CRCR workflow (#4256)
  .github/actions/install-prebuilt-pytorch/action.yml
  .github/actions/install-prebuilt-torch-spyre/action.yml
  .github/workflows/_upstream_tests_beta_matrix.yaml
  .github/workflows/build_test_pytorch_source.yaml
Due: none

fix(codegen): point maskingConstId_ at samv-maskvalue, not constant 0 (#4400)
  tests/inductor/test_codegen.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

tests/distributed: Improve invalid rank regex (#4240)
  tests/distributed/spyreccl_backend.py
Due: enforce-import-regex-instead-of-re

SDPA building blocks test comment (#4389)
  tests/inductor/test_building_blocks.py
Due: enforce-import-regex-instead-of-re

cleanup(logging): remove _get_env_bool and legacy SPYRE_INDUCTOR_LOG helpers (#4241)
  tests/inductor/test_logging.py
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/logging_utils.py
Due: enforce-import-regex-instead-of-re

Fix broadcast pad stride (#4252)
  tests/inductor/test_padding.py
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

LX Relayouts: centralize physical ownership value semantics (#4283)
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_core_mapping.py
  tests/inductor/test_hbm_pool_planning.py
  tests/inductor/test_work_division_hint.py
  tests/tensor/test_tensor_layout.py
  torch_spyre/_C.pyi
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/core_mapping.py
  torch_spyre/_inductor/hbm_pool_planning.py
  torch_spyre/_inductor/ir.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/read_copy_elision.py
  torch_spyre/_inductor/scheduler.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/lx_relayout.py
  torch_spyre/_inductor/scratchpad/utils.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_tensor_impl.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: enforce-import-regex-instead-of-re

Enable sliding window attention (#3405)
  tests/configs/torch_spyre_tests/inductor/test_kv_window_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_sliding_window_attention_config.yaml
  tests/inductor/test_kv_window.py
  tests/inductor/test_sliding_window_attention.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/sliding_window_plan.py
Due: enforce-import-regex-instead-of-re

docs: refresh documentation to match current code (#4298)
  docs/source/_ext/extract_graph.py
  docs/source/api/torch_spyre.rst
  docs/source/compiler/work_division_planning.md
  docs/source/runtime/index.md
  docs/source/user_guide/debugging/unified_logging_framework.md
  docs/source/user_guide/supported_operations.md
Due: enforce-import-regex-instead-of-re

Add persistent on-disk cache for compiled Spyre kernels (#2397)
  tests/configs/torch_spyre_tests/inductor/test_hash_coverage_config.yaml
  tests/configs/torch_spyre_tests/test_kernel_caching_config.yaml
  tests/inductor/test_hash_coverage.py
  tests/inductor/test_kernel_provenance.py
  tests/test_kernel_caching.py
  torch_spyre/_inductor/__init__.py
  torch_spyre/_inductor/config.py
  torch_spyre/execution/__init__.py
  torch_spyre/execution/async_compile.py
  torch_spyre/execution/kernel_cache.py
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

feat: implement quantscalepertokenfp8 operation for FP8 quantization support (#3457)
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_fp8_config.yaml
  tests/inductor/test_fp8_operations.py
  tests/inductor/test_log_passes.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/ir.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

fix(inductor): pad matmul K before stickification so transposed weights compile (#4225)
  docs/source/compiler/coarse_tiling_loops.md
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/scratchpad_planning.md
  tests/inductor/test_padding.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

add direct launcher for spyrecode (#4290)
  extensions/spyre-cli/.gitignore
  extensions/spyre-cli/README.md
  extensions/spyre-cli/pyproject.toml
  extensions/spyre-cli/spyre_cli/__init__.py
  extensions/spyre-cli/spyre_cli/cli.py
  extensions/spyre-cli/spyre_cli/core.py
  extensions/spyre-cli/tests/test_core.py
  extensions/spyre-cli/uv.lock
  pyproject.toml
Due: check-requirements-dev, enforce-import-regex-instead-of-re

fix(inductor): preserve offsets in coarse read copies (#4376)
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

LX Relayouts: preserve the committed physical view through scheduling (#4284)
  docs/source/compiler/coarse_tiling_loops.md
  docs/source/compiler/hbm_pool_planning.md
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/scratchpad_planning.md
  tests/configs/torch_spyre_tests/inductor/test_kernel_preparation_config.yaml
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_core_mapping.py
  tests/inductor/test_hbm_pool_planning.py
  tests/inductor/test_indirect_access_scatter.py
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_kernel_preparation.py
  tests/inductor/test_log_op_specs.py
  tests/inductor/test_scratchpad_solver.py
  tests/inductor/test_scratchpad_use.py
  tests/inductor/test_scratchpad_utils.py
  tests/inductor/test_work_division.py
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/core_mapping.py
  torch_spyre/_inductor/enforce_indirect_access_layout.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/scheduler.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/exhaustive_search.py
  torch_spyre/_inductor/scratchpad/graph_editor.py
  torch_spyre/_inductor/scratchpad/lx_relayout.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
  torch_spyre/_inductor/scratchpad/utils.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/views.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

Add ElementArrangement in eager mode type conversion (#3601)
  tests/inductor/test_ea_bidirectional_conversion.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/dtype_ops.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

refactor: make work-division legality and residency compatibility answerable per candidate (#4228)
  tests/inductor/test_work_division.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

fix attention view error (#4377)
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

feat: add actions permissions (#4279)
  .github/workflows/build_test_pytorch_source.yaml
  .github/workflows/push-pytorch-dispatch-to-clickhouse.yaml
Due: none

Drop unused arguments from kernel run (#4293)
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_compute_a_config.yaml
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

fix(inductor): preserve nested coarse-tile layouts (#4421)
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_codegen.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Test case for over_extended_kernel_times (#4150)
  tests/configs/torch_spyre_tests/test_spyre_profiler_config.yaml
  tests/profiler/test_spyre_profiler.py
Due: enforce-import-regex-instead-of-re

test(coarse_tile_e2e): remove two stale skip/xfail markers fixed by faf468e2 (#4278)
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

Enable test_large_matmul on s390x/ppc64 via fp32 CPU refs (#3628)
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_lx_matmul_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_matmul_config.yaml
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_ops_lx_planning.py
  tests/inductor/utils_inductor.py
Due: enforce-import-regex-instead-of-re

fix(inductor): preserve scatter source geometry (#4274)
  tests/inductor/test_indirect_access_scatter.py
  torch_spyre/_inductor/enforce_indirect_access_layout.py
Due: enforce-import-regex-instead-of-re

fix(tests): route tests/distributed/* through torchrun instead of dropping them under --parallel (#4168)
  tests/oot_framework/run_test.sh
Due: none

feat: Report torch + pytorch build to CRCR + some refactor on reporting side (#4291)
  .github/actions/report-ci-completed/action.yml
  .github/actions/report-ci-started/action.yml
  .github/workflows/build_test_pytorch_source.yaml
Due: none

fix(inductor): resolve hf-adapters model regressions (#4296)
  tests/inductor/test_building_blocks.py
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_propagate_named_dims.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/wsr/coarse_tile.py
  torch_spyre/_inductor/wsr/propagate_named_dims.py
Due: enforce-import-regex-instead-of-re

fix(inductor): SDPA head tile must divide num_heads (#4276)
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

fix(inductor): fix a gap in making LX planning independent of PYTHONHASHSEED (#4196)
  tests/configs/torch_spyre_tests/inductor/test_scratchpad_utils_config.yaml
  tests/inductor/test_scratchpad_utils.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/enforce_indirect_access_layout.py
  torch_spyre/_inductor/op_spec_validation.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/utils.py
  torch_spyre/_inductor/wsr/coarse_tile.py
  torch_spyre/_inductor/wsr/span_overflow_hint_analysis.py
Due: enforce-import-regex-instead-of-re

coarse_tiling: cleanup of test_coarse_tile_e2e and two small bug fixes (#4270)
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Add missing trunk label to 3 regression-only test configs (#4285)
  tests/configs/torch_spyre_tests/inductor/test_matmul_rewrites_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_scatter_copy_insertion_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_scatter_layout_helpers_config.yaml
Due: none

feat: update rh callback job name with rhel and gcc ifno (#4358)
  .github/workflows/build_test_pytorch_source.yaml
Due: none

fix(inductor): allow sparse staggered broadcasts (#4272)
  tests/inductor/test_building_blocks.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

refactor: Merge report and test jobs into one for check_run_id check in upstream (#4288)
  .github/workflows/build_test_pytorch_source.yaml
Due: none

add submitToHardware event to profiler's torch trace
  torch_spyre/csrc/profiler/AiuptiActivityHandlers.cpp
Due: none

Split test_cpu_selection_algorithm into more parts
  .github/workflows/_upstream_tests_beta_matrix.yaml
  tests/configs/upstream_tests_beta/inductor-test_cpu_select_algorithm_part1.yaml
  tests/configs/upstream_tests_beta/inductor-test_cpu_select_algorithm_part2.yaml
  tests/configs/upstream_tests_beta/inductor-test_cpu_select_algorithm_part4.yaml
  tests/configs/upstream_tests_beta/inductor-test_cpu_select_algorithm_part5.yaml
Due: none

test: align LOCAL_RANK invalid-text assertion to the runtime message
  tests/distributed/spyreccl_backend.py
Due: enforce-import-regex-instead-of-re

[Draft] Rescale stride and iteration space for fp32 sub-stick tensors
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Fix: do not reorder dims that are already between inner and outer sticks
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/nonstick_dim_order.py
Due: enforce-import-regex-instead-of-re
