Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

Added interface segregation for memory layout solvers
  tests/inductor/test_scratchpad_solver.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/ilp_solver_ortools.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
Due: enforce-import-regex-instead-of-re

Fix the value of conv_params passed in to gen_coord_info_value; refactor the call sit of gen_coord_info_value
  torch_spyre/_inductor/codegen/compute_ops.py
Due: enforce-import-regex-instead-of-re

Formatting
  torch_spyre/_inductor/scratchpad/plan_solver.py
Due: enforce-import-regex-instead-of-re

Resolved issue for rebase
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

Reverted comment
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

CPU-resident fixes
  tests/inductor/test_fallback_kernel.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

Keep SDSC dim labels below the codegen layer for avgpool
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

docs: add is_power_z_dev label guide to contributing section
  docs/source/contributing/index.rst
  docs/source/contributing/is_power_z_dev_label_guide.md
Due: none

Fix fp8todl16 layout label mismatch causing DDL compile crash (#3022)
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

Added caching re-writes to handle changes to header files from runner env
  .github/actions/build-torch-spyre-wheel/action.yml
Due: none

fix(hw-diag): correctly extract node_name/pci_device/run_link for ClickHouse ingestion
  .github/actions/gather-runner-info/action.yml
  .github/scripts/ingest_hw_diagnostics.py
  .github/scripts/parse_hw_failures.py
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
Due: enforce-import-regex-instead-of-re

fix(hw-diag): reject bare-colon false match from PCIDEVICE_IBM_COM_AIU_PF script-preview self-reference
  .github/scripts/parse_hw_failures.py
Due: enforce-import-regex-instead-of-re

66c21f8
  .github/workflows/testmon_selection.yaml
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

ci: split ccache into restore/save keyed on run_id
  .github/actions/build-torch-spyre-wheel/action.yml
Due: none

Scratchpad declarative exclusion
  docs/source/compiler/scratchpad_planning.md
  tests/inductor/test_scratchpad_patterns.py
  tests/inductor/test_scratchpad_solver.py
  tests/inductor/test_scratchpad_use.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/firstfit_bestfit_solver.py
  torch_spyre/_inductor/scratchpad/greedy_solver.py
  torch_spyre/_inductor/scratchpad/ilp_solver_ortools.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
  torch_spyre/_inductor/scratchpad/simulated_annealing.py
  torch_spyre/_inductor/scratchpad/utils.py
Due: enforce-import-regex-instead-of-re

corrected allocator.py
  .github/workflows/testmon_selection.yaml
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

modified allocator.py
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

fix(optimize_restickify,insert_restickify,spyre_kernel): detect and surface infeasible restickify
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_propagate_named_dims.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/optimize_restickify.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

fix(inductor): fix multi-core work-division miscompile on coprime stick dims
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_lx_pointwise_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_pointwise_config.yaml
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/views.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

feat(coarse_tile): add OpSpec.tiled_symbol_trip_counts
  tests/inductor/test_building_blocks.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

refactor(coarse_tile): delete old _ct_lvl-keyed tile-advance mechanism
  tests/inductor/test_building_blocks.py
  torch_spyre/_inductor/coarse_tile.py
  torch_spyre/_inductor/loop_info.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

refactor(compute_ops): derive per-level strides from device_tile_advance_expr
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

refactor(superdsc): add SDSCArgs.device_tile_advance_expr, derive sdsc_dim_advance from it
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

test: delete test_compute_ops_tile_advance.py (tests deleted _level_stride_from_expr)
  tests/inductor/test_compute_ops_tile_advance.py
Due: enforce-import-regex-instead-of-re

test: add stride/trip-count regression coverage for single-level tile advance
  tests/inductor/test_coarse_tiling.py
Due: enforce-import-regex-instead-of-re

test: delete stale tests for the removed old tile-advance mechanism
  tests/inductor/test_coarse_tile_advance_expr.py
  tests/inductor/test_loop_info_metadata.py
  tests/inductor/test_op_spec_tile_advance.py
Due: enforce-import-regex-instead-of-re

Specify correct size for sdsc's scheduleTree_.coordinateInfo fields for non conv2d ops. Also handle conv2d correctly when stride > 1
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

Added note to _score_layout about 0-byte entries
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

Lint fixes
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

chore: add the new platform column in the command in docs
  tests/docs/clickhouse.md
Due: none

docs: document pr_check_events table for CI check-run tracking
  tests/docs/clickhouse.md
Due: none

refactor(wsr): create wsr package, move coarse_tile/propagate_named_dims/span_overflow_hint_analysis
  torch_spyre/_inductor/wsr/__init__.py
  torch_spyre/_inductor/wsr/coarse_tile.py
  torch_spyre/_inductor/wsr/propagate_named_dims.py
  torch_spyre/_inductor/wsr/span_overflow_hint_analysis.py
Due: enforce-import-regex-instead-of-re

refactor(wsr): fix relative imports inside moved wsr modules
  torch_spyre/_inductor/wsr/coarse_tile.py
  torch_spyre/_inductor/wsr/propagate_named_dims.py
  torch_spyre/_inductor/wsr/span_overflow_hint_analysis.py
Due: enforce-import-regex-instead-of-re

refactor(wsr): update passes.py imports to torch_spyre._inductor.wsr
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

test(wsr): update propagate_named_dims import path in 5 test files
  tests/inductor/indirect_access_common.py
  tests/inductor/test_building_blocks.py
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_propagate_named_dims.py
  tests/inductor/test_work_division_hint.py
Due: enforce-import-regex-instead-of-re

test(wsr): update coarse_tile/propagate_named_dims/span_overflow_hint_analysis import paths
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_span_overflow_hint_analysis.py
Due: enforce-import-regex-instead-of-re

fix(wsr): fix missed function-local relative imports in coarse_tile.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Add comments on CI testing in pyproject.toml, and fix minor errors
  extensions/pyproject.toml
  extensions/spyre-metrics-api/pyproject.toml
  extensions/spyre-metrics-api/spyremetrics/__init__.py
  extensions/spyre-metrics-api/spyremetrics/generated_section_types.py
  extensions/spyre-metrics-api/spyremetrics/metric_file.py
  extensions/spyre-metrics-api/spyremetrics/section_type_defs.py
  extensions/spyre-metrics-api/spyremetrics/section_types.json
  extensions/spyre-metrics-api/spyremetrics/section_types.py
  extensions/spyre-metrics-api/tests/section_types_test.py
  extensions/spyre-metrics-api/uv.lock
  pyproject.toml
Due: check-requirements-dev, enforce-import-regex-instead-of-re

docs(wsr): update full-path references to torch_spyre._inductor.wsr
  docs/source/compiler/coarse_tiling_loops.md
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/span_overflow_hint_analysis.md
  docs/source/compiler/work_division_planning.md
Due: none

docs(wsr): fix missed coarse_tile.py path reference in coarse_tiling_loops.md
  docs/source/compiler/coarse_tiling_loops.md
Due: none

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
