Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

Moved co-optimization tests to optional (#3129)
  tests/inductor/test_scratchpad_use.py
Due: enforce-import-regex-instead-of-re

docs: update coarse_tiling_loops.md to match current implementation (#3099)
  docs/source/compiler/coarse_tiling_loops.md
Due: none

Add swiglu allocation plan test (#3077)
  tests/inductor/test_scratchpad_use.py
  torch_spyre/_inductor/scratchpad/utils.py
Due: enforce-import-regex-instead-of-re

Updating based on PR comments
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

ci(integration): test the pre-baked torch-spyre-dev image (no on-runner checkout/build) (#3185)
  .github/workflows/_test_matrix.yaml
  .github/workflows/integration-tests.yaml
Due: none

Adapting script to support end-to-end granite profiling
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

Updates and consolidating scripts
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

Fixing linting issues
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

Feedback from PR
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

Updating Documentation for e2e graite profiling
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

Integrated code review
  docs/source/_ext/extract_graph.py
  docs/source/runtime/index.md
  tests/configs/torch_spyre_tests/inductor/test_inplace_op_kernels.yaml
  tests/inductor/test_inplace_arith_clobber.py
  tests/inductor/test_inplace_op_kernels.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

fix(ci): stop double-prefixing trunk matrix config paths with torch_spyre_tests/
  .github/workflows/_test_matrix.yaml
Due: none

Integrated code review
  tests/inductor/test_fallback_kernel.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

Add an OpSpec lab: capture, run and explain OpSpec lists standalone
  .gitignore
  docs/source/user_guide/debugging/index.md
  docs/source/user_guide/debugging/op_spec_lab.md
  pyproject.toml
  tests/op_specs/capture.py
  tests/op_specs/explain.py
  tests/op_specs/op_spec.py
  tests/op_specs/programs/01_add.py
  tests/op_specs/programs/02_softmax.py
  tests/op_specs/programs/03_matmul.py
  tests/op_specs/programs/04_pool_chain.py
  tests/op_specs/runner.py
  tests/op_specs/test_op_spec_lab.py
Due: check-requirements-dev, enforce-import-regex-instead-of-re

Address review: gate the lab in CI, pin bundle_symbolic_args, survive crashes
  docs/source/user_guide/debugging/op_spec_lab.md
  tests/configs/torch_spyre_tests/test_op_spec_lab_config.yaml
  tests/op_specs/capture.py
  tests/op_specs/explain.py
  tests/op_specs/runner.py
  tests/op_specs/test_op_spec_lab.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Address review suggestions: consolidate pool-contents note, flag the tripwires
  docs/source/user_guide/debugging/op_spec_lab.md
  tests/op_specs/explain.py
  tests/op_specs/runner.py
Due: enforce-import-regex-instead-of-re

fix(inductor): decompose constant storage offsets positionally
  tests/inductor/test_inductor_ops.py
  tests/tensor/test_coordinates.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

fix: pad statically-N=1 matmuls to N=2 and slice back (#3792)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/temp_passes.py
Due: enforce-import-regex-instead-of-re

Revert 60s timeout on dxp_standalone
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

Fix coarse-tile softmax div-reads-exp reduction classification bug
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Fix squeeze-position tile-advance bugs in coarse-tile copy insertion
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/loop_info.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Fix NullHandler AttributeError in _reads_incomplete_reduction
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Fix squeezed-dim symbol-minting bug in coarse-tile consumer redirect
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Address external review: cross-reference stride-uniqueness, fix stale skill doc
  torch_spyre/_inductor/.claude/skills/inductor-overview/SKILL.md
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Add unit test coverage for coarse-tile squeezed-dim symbol minting
  tests/inductor/test_coarse_tiling.py
Due: enforce-import-regex-instead-of-re

fix: use 0 card runner for CRCR report complete (#3749)
  .github/workflows/build_test_pytorch_source.yaml
Due: none

fix(ci): key non-PR integration-tests concurrency group by test_type, only cancel-in-progress for PR runs (#3780)
  .github/workflows/integration-tests.yaml
Due: none

fix(inductor): let contiguous device dims fuse across an interposed size-1 dim (#3731)
  tests/tensor/test_coordinates.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

fix(test): Place input tensors onto CPU for reference output (#3746)
  tests/models/test_model_ops_v2.py
Due: enforce-import-regex-instead-of-re

Eliminate use_symbols parameter from SDSC bundle.py and its plumbing (#3741)
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_codegen.py
  tests/inductor/test_log_op_specs.py
  tests/inductor/test_symbolic_dim_bundle.py
  tests/test_launch_jobplan.py
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/config.py
Due: enforce-import-regex-instead-of-re

fix: resolve NameError when collecting tests without ortools installed (#3296)
  pyproject.toml
  requirements/dev.txt
  tests/inductor/test_scratchpad_solver.py
  tests/inductor/test_scratchpad_use.py
  uv.lock
Due: check-requirements-dev, enforce-import-regex-instead-of-re

add trunk label to the gemma-4-12b model (#3757)
  tests/configs/model_ops_tests/gemma-4-12B-it.yaml
  tests/configs/model_ops_tests/gemma-4-12B-it_spyre.yaml
Due: none

Change to prepare_kernel (#3743)
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

ci(perf): land inline ClickHouse ingest plumbing on main (#3614)
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/workflows/_test_matrix.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/push-to-clickhouse.yaml
  .github/workflows/runtests_nightly.yaml
  .github/workflows/torch_spyre_tests.yaml
Due: none

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
