Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

feat(cicd): add utility helpers for github action workflow logs for failure diagnosis (#2756)
  .github/scripts/ingest_hw_diagnostics.py
  .github/scripts/parse_hw_failures.py
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
Due: enforce-import-regex-instead-of-re

Fixed SDSC spec changes (#2760)
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/indirect_access.py
Due: enforce-import-regex-instead-of-re

fix dma params dangling pointer issue with async DMA (#2689)
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/job_plan.h
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/prepare_kernel.cpp
  torch_spyre/csrc/prepare_kernel.h
Due: none

ci: add image_label input for per-PR ephemeral runner sets (backward-compatible) (#2778)
  .github/workflows/_test_matrix.yaml
  .github/workflows/torch_spyre_tests.yaml
Due: none

fix(test:Test Launch JobPlan): replace subprocess with in-process dynamo reset for VFIO-safe JobPlan op execution (#2781)
  tests/configs/torch_spyre_tests/test_launch_jobplan_config.yaml
  tests/run_test.sh
  tests/test_launch_jobplan.py
Due: enforce-import-regex-instead-of-re

chore(cicd): shard inductor misc and compute into 3 sub shards to reduce CI time (#2784)
  .github/workflows/_test_matrix.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_compute_a_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_compute_b_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_compute_c_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_a_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_b_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_c_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_config.yaml
  tests/docs/enabling_torch_spyre_cicd_tests.md
Due: none

feat: add more tests from xfail to mandatory_success since they are supported (#2774)
  tests/configs/upstream_tests/test_view_ops_config.yaml
Due: none

ci-cd: fix stallwatcher to not kill the parent process before the child processes (avoid creating zombies) (#2783)
  .github/actions/run-test-suite/action.yml
Due: none

Remove cached flex_handle_ (#2694)
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
Due: none

tchore: make oout-config-checker to use ubuntu-latest and not spyre card runner (#2785)
  .github/workflows/config_integrity_checker.yaml
  .github/workflows/upstream_tests.yaml
Due: none

feat(testing): feature to enable tests parallelization within each test suite config (#2786)
  .github/actions/run-test-suite/action.yml
  .github/workflows/_test_matrix.yaml
  tests/run_test.sh
Due: none

Phase 1 new logging framework for torch-spyre (#2188)
  .github/workflows/_test_matrix.yaml
  tests/configs/torch_spyre_tests/test_logging_patterns_config.yaml
  tests/inductor/test_logging.py
  tests/inductor/test_work_division_hint.py
  tests/test_logging_patterns.py
  torch_spyre/__init__.py
  torch_spyre/_inductor/logging_utils.py
  torch_spyre/logging_config.py
Due: enforce-import-regex-instead-of-re

Move jobplan symbol tests from xfail->skip (#2800)
  tests/configs/torch_spyre_tests/test_launch_jobplan_config.yaml
Due: none

feat: enable lx op planning to run parallel across 4 cards (#2792)
  .github/workflows/_test_matrix.yaml
  torch_spyre/_inductor/dtype_ops.py
Due: enforce-import-regex-instead-of-re

feat: add per suite time taken in summary (#2804)
  tests/run_test.sh
Due: none

feat: add per yaml suite reporting on pass, xfail, skip, success (#2798)
  tests/run_test.sh
Due: none

Lower aten.silu to silu OpFunc (#2780)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

tests: Added module tests for Granite 4.1 8b model (#2639)
  .github/workflows/model_modules_tests.yaml
  tests/configs/module_tests/granite_4_1_8b_spyre.yaml
Due: none

tests: skip eq_scalar delegator tests in LX-planning wrap (#2710)
  tests/inductor/test_inductor_ops_lx_planning.py
Due: enforce-import-regex-instead-of-re

tests: Fix tokenizer issue in module_discovery for Mistral (#2805)
  .github/workflows/model_modules_tests.yaml
  tests/configs/module_tests/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/module_discovery/auto_generate_module_config.py
Due: enforce-import-regex-instead-of-re

tests: Added module tests for Ministral 3 14B model (#2806)
  .github/workflows/model_modules_tests.yaml
  tests/configs/module_tests/Ministral-3-14B-Instruct-2512.yaml
Due: none

feat: Add FP8 quantization and dequantization support with scaling for torch-spyre (#2401)
  .github/workflows/_test_matrix.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_fp8_config.yaml
  tests/inductor/test_fp8_operations.py
  tests/inductor/test_inductor_ops.py
  tests/test_spyre.py
  torch_spyre/_C.pyi
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/dtype_ops.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: enforce-import-regex-instead-of-re

ci-cd: use the spyre-backend image instead to avoid circular dependency (#2794)
  .github/actionlint.yaml
  .github/actions/build-torch-spyre/action.yml
  .github/actions/checkout-prebuilt-pytorch/action.yml
  .github/actions/checkout-prebuilt-torch-spyre/action.yml
  .github/actions/checkout-pytorch/action.yml
  .github/actions/gather-runner-info/action.yml
  .github/actions/run-test-suite/action.yml
  .github/workflows/_test_matrix.yaml
  .github/workflows/model_modules_tests.yaml
  .github/workflows/model_ops_tests.yaml
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
  .github/workflows/push-to-clickhouse.yaml
  .github/workflows/runtests_nightly.yaml
  .github/workflows/torch_spyre_tests.yaml
  .github/workflows/upstream_tests.yaml
  .github/workflows/upstream_tests_beta.yaml
Due: none

fix: use traced index for load ops in multi op splitting (#2755)
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_b_config.yaml
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

ci: install regex in hw-diagnostics workflow venv (#2832)
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
Due: none

Modify autocast shapes to avoid HMI error (#2817)
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Fix torch.amax and torch.amin failures on boolean tensors (#2590)
  tests/inductor/test_inductor_decomp.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Fix ReLU inplace operation support (#2824)
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_compute_a_config.yaml
  tests/inductor/test_inductor_ops.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

test: remove obsolete commented line in oot constants (#2853)
  tests/oot_test_constants.py
Due: enforce-import-regex-instead-of-re

ci: disable --parallel for test_multi_spyre to avoid conflicts with torchrun (#2833)
  .github/actions/run-test-suite/action.yml
  .github/workflows/_test_matrix.yaml
Due: none

Fix the failure of the reshape, view, zeros and other ops in CI/CD (#2838)
  tests/oot_test_config_models.py
Due: enforce-import-regex-instead-of-re

feat(cicd): add report_empty_suites job to warn on zero-test matrix suites (#2835)
  .github/workflows/_test_matrix.yaml
Due: none

transpose test cases coverage (#1890)
  .github/workflows/_test_matrix.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_b_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_transpose_edge_config.yaml
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_transpose_edge.py
Due: enforce-import-regex-instead-of-re

Remove TensorArg.stride_map and fix loop_unrolling bug (#2859)
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_unroll_loop_specs.py
  torch_spyre/_inductor/codegen/unroll.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

inductor: improve matmul work-division cost model (#2829)
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

refactor(transformers): move transformers-dependent tests,module configs and module discovery tooling to hf-adapters (#2213)
  .github/workflows/model_modules_tests.yaml
  pyproject.toml
  requirements/dev.txt
  tests/configs/module_tests/Ministral-3-14B-Instruct-2512.yaml
  tests/configs/module_tests/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/configs/module_tests/granite_3_3_8b_instruct_spyre.yaml
  tests/configs/module_tests/granite_4_1_8b_spyre.yaml
  tests/module_discovery/auto_generate_module_config.py
  tests/test_modules.py
  tests/test_modules_custom.py
  uv.lock
Due: check-requirements-dev, enforce-import-regex-instead-of-re

Check inner_fn for pointwise function detection (#2712)
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/utils.py
Due: enforce-import-regex-instead-of-re

Support for FallbackKernels with 0, or >1 returns (#2629)
  .github/workflows/_test_matrix.yaml
  tests/configs/torch_spyre_tests/inductor/test_fallback_kernel_shapes_config.yaml
  tests/inductor/test_fallback_kernel_shapes.py
  torch_spyre/_inductor/fusion.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

fix(unroll): preserve inter-stick stride in _tile_device_size (#2861)
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_unroll_loop_specs.py
  torch_spyre/_inductor/codegen/unroll.py
Due: enforce-import-regex-instead-of-re

fix: named dim propagation for permuted intermediate inputs; add test suite (#2802)
  .github/workflows/_test_matrix.yaml
  tests/configs/torch_spyre_tests/inductor/test_propagate_named_dims_config.yaml
  tests/inductor/test_propagate_named_dims.py
  torch_spyre/_inductor/propagate_named_dims.py
Due: enforce-import-regex-instead-of-re

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
