Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

Simple monkey-patch script to load safetensor with spyre device
  torch_spyre/safetensors_patch.py
Due: enforce-import-regex-instead-of-re

Apply monkey-patch in _autoload() to make safetensors recognize spyre
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

Add HuggingFace Transformers adapters for Spyre
  tests/adapters/test_adapter_cpu_accuracy.py
  tests/adapters/test_block_cpu_vs_spyre.py
  tests/adapters/test_e2e_smoke_spyre.py
  tests/adapters/test_e2e_token_compare_spyre.py
  torch_spyre/adapters/SPYRE_ADAPTER_STATUS.md
  torch_spyre/adapters/__init__.py
  torch_spyre/adapters/hf_common.py
  torch_spyre/adapters/hf_granite.py
  torch_spyre/adapters/hf_granitemoehybrid.py
  torch_spyre/adapters/hf_phi3.py
  torch_spyre/adapters/hf_qwen3.py
  torch_spyre/adapters/hf_smollm3.py
Due: enforce-import-regex-instead-of-re

Clean up SPYRE_ADAPTER_STATUS.md for PR readiness
  torch_spyre/adapters/SPYRE_ADAPTER_STATUS.md
Due: none

cicd: create a torch-spyre image
  Dockerfile
Due: none

fixup! cicd: create a torch-spyre image
  images/Dockerfile
Due: none

Implement SpyreAllocator with FlexAllocator and update SharedOwnerCtx with CompositeAddress
  codegen/inputs/spyre_torch_ops.cpp
  codegen/templates/list_inp.jinja2
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_allocator.cpp
  torch_spyre/csrc/spyre_allocator.h
  torch_spyre/csrc/spyre_mem.cpp
Due: none

Refactor to graph-free DMA using FlexAllocator and CompositeAddress
  codegen/inputs/spyre_torch_ops.cpp
  codegen/templates/list_inp.jinja2
  tests/test_spyre.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_allocator.cpp
  torch_spyre/csrc/spyre_allocator.h
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_mem.h
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
Due: enforce-import-regex-instead-of-re

Fix launchKernel to dynamically resolve supernode indices
  torch_spyre/csrc/module.cpp
Due: none

Add an initial size-1 dimension support or tensor slicing
  tests/inductor/test_inductor_ops.py
  tests/tensor/test_coordinates.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/views.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

tests: disable cpu compile pathway
  .github/workflows/runtests_nightly.yaml
  conftest.py
  tests/inductor/test_building_blocks.py
  tests/inductor/utils_inductor.py
Due: enforce-import-regex-instead-of-re

add inductor logging documentation to README
  README.md
Due: none

uncomment one amax test case
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Add compile-mode tests for torch.empty_like
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

use flex::getNumDevices for device_count
  tests/test_device_enum.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_device_enum.cpp
  torch_spyre/csrc/spyre_device_enum.h
Due: enforce-import-regex-instead-of-re

cicd: update to use the new pod spec runners
  .github/actionlint.yaml
  .github/workflows/runtests.yaml
Due: none

too many commits (~40) and back-and-forth changes, squash all into one and drop history
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

test pgp sign
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

Make overwrite and device_from_d2d work on eager efficiently
  torch_spyre/_inductor/customops.py
Due: enforce-import-regex-instead-of-re

Fix overwrite calls
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Fix functionalization of overwrite in inductor
  tests/inductor/test_inductor_fx_passes.py
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/padding.py
Due: enforce-import-regex-instead-of-re

Remove debug graph
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

fix compile_once to work with custom_ops and fix overwrite cpu impl
  torch_spyre/_inductor/customops.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

Demonstrate how to compile and run a sequence of OpSpecs
  tests/op_specs/op_spec.py
Due: enforce-import-regex-instead-of-re

cicd: test 25 april 2026, testing custom script
  .github/workflows/runtests.yaml
Due: none

squash: original PR commits with GPG signature
  tests/inductor/test_inductor_ops.py
  tests/inductor/utils_inductor.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

Add more tests to avoid granite regressions
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Implement _reshape_alias for Spyre
  torch_spyre/csrc/spyre_views.cpp
Due: none

Updated RuntimeOperationH2D and RuntimeOperationD2H calls to use validated factory methods
  torch_spyre/csrc/spyre_stream.cpp
Due: none

Signed-off-by: Jonel Poueriet Santana <jonel.poueriet@ibm.com>
  torch_spyre/csrc/spyre_stream.cpp
Due: none

feat: add example of new cpu only fx pass test
  tests/inductor/example_passes.py
Due: enforce-import-regex-instead-of-re

constant removal
  torch_spyre/_inductor/constants.py
Due: enforce-import-regex-instead-of-re

deprecate usage of matmul opfunc
  .claude/skills/project-overview/SKILL.md
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

enable inplace op
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

Support torch+aiu.kineto profiler dependency
  pyproject.toml
Due: check-requirements-dev

autocast in torch-spyre
  torch_spyre/__init__.py
  torch_spyre/csrc/spyre_autocast.cpp
Due: enforce-import-regex-instead-of-re

check end-of-life before allowing inplace
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

Add DCI logging back
  torch_spyre/csrc/spyre_mem.cpp
Due: none

linting
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

test: Adding first set of spyre relevant upstream tests
  .github/workflows/upstream_tests.yaml
  tests/configs/test_nn_test_embedding.yaml
  tests/configs/test_nn_test_lazy_modules.yaml
  tests/configs/test_nn_test_pooling.yaml
Due: none
