Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

Updated DCI for sliced tensors
  tests/tensor/test_tensor_layout.py
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_mem.h
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_tensor_impl.cpp
Due: enforce-import-regex-instead-of-re

ci: echo the runner labels each matrix job used (#3790)
  .github/actions/gather-runner-info/action.yml
  .github/workflows/_test_matrix.yaml
Due: none

[Bug] Do not keep a buffer LX-resident across an extern kernel call (#3683)
  tests/configs/torch_spyre_tests/inductor/test_lx_extern_kernel_clobber.yaml
  tests/inductor/test_lx_extern_kernel_clobber.py
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

Added mode as xfail for gemma (#3723)
  tests/configs/model_ops_tests/gemma-4-12B-it.yaml
  tests/configs/model_ops_tests/gemma-4-12B-it_spyre.yaml
Due: none

Multi-Spyre/Stream: Fix default tls_idx for multi-spyre stream initialization (#3728)
  tests/distributed/spyreccl_backend.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_guard.cpp
  torch_spyre/csrc/spyre_guard.h
  torch_spyre/csrc/spyre_stream.cpp
Due: enforce-import-regex-instead-of-re

Fix two reduction-related bugs in coarse_tiling (#3771)
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Add missing index tensor stick dim, add test (#3766)
  tests/inductor/test_indirect_access_gather.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

fix: submodule fetch rate limits (#3789)
  .github/actions/checkout-pytorch/action.yml
Due: none

Unify StrategyBCoOptimizingAllocator and CoOptimizingAllocator (#3375)
  docs/source/_static/images/lx/allocator-architecture.svg
  docs/source/compiler/scratchpad_planning.md
  tests/inductor/test_scratchpad_use.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/exhaustive_search.py
Due: enforce-import-regex-instead-of-re

Add subagent test-dispatch guidance to inductor-overview skill (#3742)
  torch_spyre/_inductor/.claude/skills/inductor-overview/references/testing-conventions.md
Due: none

fix(ci): stop double-prefixing trunk matrix config paths with torch_spyre_tests/ (#3783)
  .github/workflows/_test_matrix.yaml
Due: none

fix(test): Restore Xavier initialization for matmul and conv2d (#3747)
  tests/configs/model_ops_tests/Meta-Llama-3.1-8B-Instruct.yaml
  tests/configs/model_ops_tests/Meta-Llama-3.1-8B-Instruct_spyre.yaml
  tests/configs/model_ops_tests/Ministral-3-14B-Instruct-2512.yaml
  tests/configs/model_ops_tests/Ministral-3-14B-Instruct-2512_spyre.yaml
  tests/configs/model_ops_tests/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/configs/model_ops_tests/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
  tests/configs/model_ops_tests/Qwen2.5-7B-Instruct.yaml
  tests/configs/model_ops_tests/Qwen2.5-7B-Instruct_spyre.yaml
  tests/configs/model_ops_tests/gpt-oss-20b.yaml
  tests/configs/model_ops_tests/gpt-oss-20b_spyre.yaml
  tests/configs/model_ops_tests/granite-3.3-8b-instruct.yaml
  tests/configs/model_ops_tests/granite-3.3-8b-instruct_spyre.yaml
  tests/configs/model_ops_tests/granite-4.1-8b.yaml
  tests/configs/model_ops_tests/granite-4.1-8b_spyre.yaml
  tests/resource/models/Meta-Llama-3.1-8B-Instruct.yaml
  tests/resource/models/Meta-Llama-3.1-8B-Instruct_spyre.yaml
  tests/resource/models/Ministral-3-14B-Instruct-2512.yaml
  tests/resource/models/Ministral-3-14B-Instruct-2512_spyre.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
  tests/resource/models/Qwen2.5-7B-Instruct.yaml
  tests/resource/models/Qwen2.5-7B-Instruct_spyre.yaml
  tests/resource/models/gpt-oss-20b.yaml
  tests/resource/models/gpt-oss-20b_spyre.yaml
  tests/resource/models/granite-3.3-8b-instruct.yaml
  tests/resource/models/granite-3.3-8b-instruct_spyre.yaml
  tests/resource/models/granite-4.1-8b.yaml
  tests/resource/models/granite-4.1-8b_spyre.yaml
Due: none

All reduce collective added to the lowerings (#3490)
  .github/workflows/_test_matrix.yaml
  docs/source/user_guide/examples/all_reduce_demo_multirank.py
  tests/configs/distributed_tests/test_allreduce_compiled.yaml
  tests/distributed/test_all_reduce_compiled.py
  torch_spyre/_inductor/distributed/spyre_library.py
  torch_spyre/_inductor/ir.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/work_division.py
  torch_spyre/csrc/distributed/spyre_distributed.cpp
Due: enforce-import-regex-instead-of-re

fix(ci): scope generate_matrix's trunk scan to the full tests configs dir and not just torch_spyre_tests (#3781)
  .github/workflows/_test_matrix.yaml
Due: none

Dist: Add asyncOp support and allreduce/reduce unit tests (#3327)
  .github/workflows/_test_matrix.yaml
  docs/source/user_guide/examples/distributed/allgather.py
  docs/source/user_guide/examples/distributed/allreduce.py
  docs/source/user_guide/examples/distributed/barrier.py
  docs/source/user_guide/examples/distributed/broadcast.py
  docs/source/user_guide/examples/distributed/gather.py
  docs/source/user_guide/examples/distributed/reduce.py
  tests/configs/distributed_tests/test_allreduce.yaml
  tests/configs/distributed_tests/test_reduce.yaml
  tests/distributed/test_allreduce.py
  tests/distributed/test_barrier.py
  tests/distributed/test_broadcast.py
  tests/distributed/test_gather.py
  tests/distributed/test_reduce.py
  tests/distributed/utils.py
  torch_spyre/csrc/distributed/spyre_ccl.cpp
  torch_spyre/csrc/distributed/spyre_ccl.hpp
Due: enforce-import-regex-instead-of-re

Profiler/ffdc frontend api (#3305)
  docs/source/api/torch_spyre.rst
  docs/source/user_guide/debugging/index.md
  docs/source/user_guide/debugging/inductor_artifacts.md
  docs/source/user_guide/profiling/environment_variables.md
  docs/source/user_guide/profiling/ffdc.md
  docs/source/user_guide/profiling/index.md
  tests/profiler/test_ffdc.py
  tools/ffdc_trigger.py
  torch_spyre/__init__.py
  torch_spyre/_inductor/__init__.py
  torch_spyre/execution/async_compile.py
  torch_spyre/profiler/__init__.py
  torch_spyre/profiler/_ffdc.py
Due: enforce-import-regex-instead-of-re

fix(tests): resolve unbound floordiv symbol in gemma getitem sample model ops tests configs (#3773)
  tests/configs/model_ops_tests/gemma-4-12B-it.yaml
  tests/configs/model_ops_tests/gemma-4-12B-it_spyre.yaml
  tests/resource/models/gemma-4-12B-it.yaml
  tests/resource/models/gemma-4-12B-it_spyre.yaml
Due: none

Revert "Fix Makefile TEST_TYPE=perf workload set to use default flag (#3718)" (#3754)
  Makefile
Due: none

fix(ingest): stop creating perf_benchmarks columns, and test the parser
  .github/scripts/ingest_xml.py
  pyproject.toml
  tests/configs/torch_spyre_tests/test_ingest_xml_config.yaml
  tests/test_ingest_xml.py
Due: check-requirements-dev, enforce-import-regex-instead-of-re

docs(user_guide): address second-round hf-adapters review feedback
  docs/source/user_guide/running_hf_models.md
Due: none

Revert overbroad device_size==1 guard in compute_restickify_target_layout
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

docs(profiling): correct USE_SPYRE_PROFILER build-flag description
  docs/source/contributing/profiling.md
  docs/source/user_guide/profiling/environment_variables.md
  docs/source/user_guide/profiling/ffdc.md
Due: none

test(wsr): pin the coarse-tiling LX-residency premise
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

feat(scratchpad): TileSpec — a coarse tiling as candidate data (R2.1)
  tests/inductor/test_scratchpad_solver.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
Due: enforce-import-regex-instead-of-re

feat(scratchpad): CoarseTilingPass — declarative tiling, applied (R4.5, R7.3)
  torch_spyre/_inductor/scratchpad/coarse_tiling.py
  torch_spyre/_inductor/wsr/coarse_tile.py
  torch_spyre/_inductor/wsr/coarse_tile_span_overflow.py
Due: enforce-import-regex-instead-of-re

test(scratchpad): prove the TileSpec path against the hint path's OpSpecs
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

PR feedback
  docs/source/user_guide/profiling/end_to_end_example.md
Due: none

docs(profiling): remove stylistic dashes from profiler prose
  docs/source/contributing/profiling.md
  docs/source/user_guide/profiling/ffdc.md
Due: none

docs(hazard): correct module.cpp comments for per-stream tracker model
  torch_spyre/csrc/module.cpp
Due: none

Enable conv1d operator
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

fix(tests): reword stale present-tense comment in test_coordinates.py
  tests/tensor/test_coordinates.py
Due: enforce-import-regex-instead-of-re

fix(inductor): address padding-aware-offset review round
  tests/tensor/test_coordinates.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

Memset and Memory Release validation added
  tests/profiler/test_spyre_profiler.py
Due: enforce-import-regex-instead-of-re

fix(lint): sync uv.lock and dev requirements for the lxml test dep
  requirements/dev.txt
  tests/test_ingest_xml.py
  uv.lock
Due: enforce-import-regex-instead-of-re

Workload changed to Large MatMul
  tests/profiler/test_spyre_profiler.py
Due: enforce-import-regex-instead-of-re

bundle: emit sdscbundle.device_mem_allocate for pool allocation
  tests/inductor/test_symbolic_dim_bundle.py
  torch_spyre/_inductor/codegen/bundle.py
Due: enforce-import-regex-instead-of-re

scheduler,async_compile: thread pool_size into generated sdsc() call
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/scheduler.py
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
