Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

ci: honor the integration-test label in the merge queue too
  .github/actions/detect-integration-test-label/action.yml
  .github/workflows/torch_spyre_tests.yaml
  .github/workflows/upstream_tests.yaml
Due: none

fix: keep the required check running when the label is set
  .github/workflows/torch_spyre_tests.yaml
Due: none

conv2d: recover reduction roles structurally, drop node_reduction_ranges
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

inductor: fix conv2d backGap suppression leaking to non-conv ops
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

fix(ci): extract the queued PR number without GNU-only sed
  .github/actions/detect-integration-test-label/action.yml
Due: none

conv2d: address PR #3284 review feedback
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/work_division_constraints.py
Due: enforce-import-regex-instead-of-re

Remove 2d restriction on topk
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

fix: resolve NameError when collecting tests without ortools installed
  pyproject.toml
  tests/inductor/test_scratchpad_solver.py
  tests/inductor/test_scratchpad_use.py
Due: check-requirements-dev, enforce-import-regex-instead-of-re

Remove k=1 tests to fix in follow up
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Support temporal-1 Conv3D by folding to a batched Conv2d
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_reduction_scalar_config.yaml
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Inject dimension in sdsc gen for topk k=1
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

update uv.lock and dev.txt
  requirements/dev.txt
  uv.lock
Due: none

Added the test case for reviewing the alt_traget_layout function working in bool target mutation case
  tests/tensor/test_coordinates.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

Record prepare kernel, the other part of the runtime
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

Fix for layout issue
  tests/inductor/test_fallback_kernel.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

Fixed import
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

Fixed testcase
  tests/inductor/test_fallback_kernel.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

fix(inductor): project dim_order onto higher-rank operands and keep the sparse-stick marker
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_project_dim_order.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

test(inductor): wire the new projection tests into CI
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_reduction_keepdim_index_norm_eager_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_project_dim_order_config.yaml
  tests/inductor/test_project_dim_order.py
Due: enforce-import-regex-instead-of-re

fix(inductor): let contiguous device dims fuse across an interposed size-1 dim
  tests/tensor/test_coordinates.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

Make span overflow warning an error
  docs/source/compiler/work_division_planning.md
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

conv3d fold: address PR #3712 review (LX coverage, depthwise gate, shared decision)
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_lx_reduction_scalar_config.yaml
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_ops_lx_planning.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

test(inductor): un-xfail test_logsumexp_keepdim0 -- this projection bug was its cause
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_lx_reduction_index_b_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_reduction_keepdim_index_norm_eager_config.yaml
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Eliminate use_symbols parameter from bundle.py and its plumbing
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_codegen.py
  tests/inductor/test_log_op_specs.py
  tests/inductor/test_symbolic_dim_bundle.py
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

Add subagent test-dispatch guidance to inductor-overview skill
  torch_spyre/_inductor/.claude/skills/inductor-overview/references/testing-conventions.md
Due: none

Remove use_symbols=False cases from test_launch_jobplan
  tests/test_launch_jobplan.py
Due: enforce-import-regex-instead-of-re

Change to prepare_kernel
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

Make LX relayout allocation atomic
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/lx_relayout.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/graph_editor.py
  torch_spyre/_inductor/scratchpad/greedy_solver.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
Due: enforce-import-regex-instead-of-re

Add LX relayout materialization
  tests/inductor/test_core_mapping.py
  tests/inductor/test_kernel_provenance.py
  tests/inductor/test_scratchpad_use.py
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/core_mapping.py
  torch_spyre/_inductor/ir.py
  torch_spyre/_inductor/kernel_provenance.py
  torch_spyre/_inductor/lx_relayout.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/patches.py
  torch_spyre/_inductor/scheduler.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/graph_editor.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/views.py
  torch_spyre/_inductor/wrapper.py
Due: enforce-import-regex-instead-of-re

Improve LX relayout fallback diagnostics
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

Warn when LX relayout solver is unsupported
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

Move LX relayout planning under scratchpad
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/scheduler.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/lx_relayout.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Fix per-tensor LX relayout coordinates
  tests/inductor/test_scratchpad_use.py
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/patches.py
  torch_spyre/_inductor/scratchpad/lx_relayout.py
Due: enforce-import-regex-instead-of-re

adopt fast compute
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/job_plan.h
Due: none

[Bug] Do not keep a buffer LX-resident across an extern kernel call
  tests/configs/torch_spyre_tests/inductor/test_lx_extern_kernel_clobber.yaml
  tests/inductor/test_lx_extern_kernel_clobber.py
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

fix(ingest): ingest compile, runtime and mem_size perf metrics
  .github/scripts/ingest_xml.py
Due: enforce-import-regex-instead-of-re

Add fail-fast guard for bundle_symbolic_args on the SDSC path
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/config.py
Due: enforce-import-regex-instead-of-re

Address reviewer comments
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_guard.cpp
  torch_spyre/csrc/spyre_guard.h
  torch_spyre/csrc/spyre_stream.cpp
Due: none

Add parse_local_rank_safe() noexcept wrapper for the tls_idx init
  torch_spyre/csrc/spyre_guard.cpp
  torch_spyre/csrc/spyre_guard.h
Due: none

Multi-Spyre/Stream: Fix default tls_idx for multi-spyre stream initialization
  torch_spyre/csrc/spyre_guard.cpp
  torch_spyre/csrc/spyre_stream.cpp
Due: none

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
