Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

Remove deprecated fields from OpSpec and TensorArg
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

fix scalar broadcast case of dataop
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

fix typo
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

fix: this code did not deal correctly with multiple specs in one call
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

remove obsolete dim_map code from views.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

remove obsolete unsqueeze_if_sparse
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

test: add work division regression coverage for splitting (#1253)
  tests/inductor/test_core_division.py
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/work_division_utils.py
Due: enforce-import-regex-instead-of-re

fix: disambiguate variable name `sdsc` -> `sdsc_json`
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

Remove unused DimGroup struct
  torch_spyre/csrc/spyre_views.cpp
Due: none

Eliminate usage of dim_map from stickify
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

review comments
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

Suppress buffer allocation for LX allocated tensors
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

cicd: use the new runner set that exposes the node name as an env var MY_NODE_NAME
  .github/actionlint.yaml
  .github/workflows/runtests.yaml
Due: none

Improve structure and documentation of SuperDSCScheduling
  torch_spyre/_inductor/__init__.py
  torch_spyre/_inductor/scheduler.py
Due: enforce-import-regex-instead-of-re

Update front-end compiler docs
  docs/source/_static/images/spyre-sw-stack.png
  docs/source/_static/images/spyre-sw-stack.svg
  docs/source/compiler/adding_operations.md
  docs/source/compiler/architecture.md
  docs/source/compiler/inductor_frontend.md
Due: none

Port PR #987 span-overflow warning to new core division path
  torch_spyre/_inductor/core_division.py
Due: enforce-import-regex-instead-of-re

Fix rms_norm decomposition
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Rework node fusion logic for spyre
  torch_spyre/_inductor/choices.py
  torch_spyre/_inductor/fusion.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/patches.py
Due: enforce-import-regex-instead-of-re

Add CODEOWNERS entry for torch_spyre/profiler/
  CODEOWNERS
Due: none

removed hypthesis dependency, verified expecttest is neccessary
  pyproject.toml
  requirements/build.txt
  requirements/dev.txt
  uv.lock
Due: check-requirements-dev

Fix for lx allocation propagation
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

Decoder branch (#1309)
  torch_spyre/_inductor/decompositions.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

clarify need for expecttest in requirements list
  pyproject.toml
Due: check-requirements-dev

Enabled commented multi-dimension reduction TCs
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

refactor to move compiler code to codegen package
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

WIP on removed SDSC support
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/execution/async_compile.py
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

review comment: fix formatting of warning
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

review comment: simplify code
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

cleanup. remove unused arg_map param
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

Enable fusion subject to current constraints of SDSC Bundles
  torch_spyre/_inductor/fusion.py
Due: enforce-import-regex-instead-of-re

improve based on claude review
  torch_spyre/_inductor/fusion.py
Due: enforce-import-regex-instead-of-re

another claude cleanup
  torch_spyre/_inductor/fusion.py
Due: enforce-import-regex-instead-of-re

Fix argument order in degenerate mm/bmm reductions
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

Incorporated latest torch-spyre main and updated with changes to enable symbolic shapes to generate sdsc.json. tested OK for various functionalities like add, mul, softmax, gelu, mean etc.
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/stickify.py
  torch_spyre/_inductor/views.py
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

cicd: add merge queue feature to reduce rebases and reruns of PR checks
  .github/workflows/linters.yaml
  .github/workflows/runtests.yaml
Due: none

add tests
  tests/test_spyre.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_hooks.cpp
Due: enforce-import-regex-instead-of-re

use raw pointer instead of alias StreamHandle
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
Due: none

patch stream support
  torch_spyre/csrc/module.h
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
Due: none

add support setting device
  setup.py
  torch_spyre/__init__.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_allocator.cpp
  torch_spyre/csrc/spyre_device_enum.cpp
  torch_spyre/csrc/spyre_device_enum.h
  torch_spyre/csrc/spyre_guard.cpp
  torch_spyre/csrc/spyre_hooks.cpp
Due: enforce-import-regex-instead-of-re

added test
  tests/test_device_enum.py
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re
