Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

Add test workflow
  README.md
Due: none

Revert allowed_dtypes restriction in test_modules_custom.py
  tests/test_modules_custom.py
Due: enforce-import-regex-instead-of-re

commit in test branch
  README.md
Due: none

Simplify MRO test to assert only _TestMROCheckSPYRE
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

Revert "Simplify MRO test to assert only _TestMROCheckSPYRE"
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

Updated runtimeOperation factory function create calls to pass composite address pointer in accordance with flex changes
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/spyre_stream.cpp
Due: none

Pre-commit formatting
  torch_spyre/csrc/job_plan.cpp
Due: none

fix: address PR review comments on resize_ op
  tests/configs/torch_spyre_tests/tensors/test_resize_config.yaml
  tests/tensor/test_resize.py
  torch_spyre/csrc/spyre_mem.cpp
Due: enforce-import-regex-instead-of-re

test: add regression test for memory format check in spyre_empty
  tests/tensor/test_memory_format.py
Due: enforce-import-regex-instead-of-re

test: add CI config for test_memory_format.py
  tests/configs/torch_spyre_tests/tensors/test_memory_format_config.yaml
Due: none

ci: wire test_memory_format.py into workflow matrix
  .github/workflows/torch_spyre_tests.yaml
Due: none

chore: apply pre-commit fixes (clang-format, ruff E402, mypy)
  pyproject.toml
  tests/tensor/test_resize.py
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_stream.cpp
Due: check-requirements-dev, enforce-import-regex-instead-of-re

fix: revert accidental inclusion of spyre_stream.cpp changes
  torch_spyre/csrc/spyre_stream.cpp
Due: none

inductor: extend bundle codegen to support LoopSpec and tiled address offsets
  tests/inductor/test_bundle_loop.py
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

Implement working set reduction hints
  examples/spyre_hints.py
  torch_spyre/_inductor/__init__.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/propagate_hints.py
Due: enforce-import-regex-instead-of-re

Make flash attention a tests
  tests/inductor/test_building_blocks.py
Due: enforce-import-regex-instead-of-re

Remove standalone file after test move
  tests/test_flash_attn.py
Due: enforce-import-regex-instead-of-re

Remove amax decomposition for now
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Remove monkey patch changes for now
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

inductor: fix bundle.mlir arith.constant count mismatch
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/compute_ops.py
Due: enforce-import-regex-instead-of-re

Add ceil and sign op decompositions for Spyre backend
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Fix ne scalar fallback registration
  torch_spyre/ops/eager.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

Add ceil and sign to supported operations table
  docs/source/user_guide/supported_operations.md
Due: none

Fix compiler doc drift: stale references and missing patterns
  docs/source/compiler/adding_operations.md
  docs/source/compiler/inductor_frontend.md
Due: none

first commit
  README.md
Due: none

Add repeat_interleave decomposition
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_ops_lx_planning.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

suitewise time/memory concurrent time
  .github/workflows/model_modules_tests.yaml
  .github/workflows/torch_spyre_tests.yaml
  .github/workflows/upstream_tests.yaml
Due: none

fix: convert orig_shape to tuple for cached_randn lru_cache compatibility
  tests/tensor/test_resize.py
Due: enforce-import-regex-instead-of-re

ci-cd: reduce test timeouts since we run tests in parallel now
  .github/workflows/model_modules_tests.yaml
  .github/workflows/runtests_nightly.yaml
  .github/workflows/torch_spyre_tests.yaml
  .github/workflows/upstream_tests.yaml
  .github/workflows/upstream_tests_beta.yaml
Due: none

fixup! ci-cd: reduce test timeouts since we run tests in parallel now
  .github/workflows/model_ops_tests.yaml
Due: none

Updated test_synchronize_callable() in test_spyre_profiler.py
  tests/profiler/test_spyre_profiler.py
Due: enforce-import-regex-instead-of-re

Add torch_spyre_tests.sh for running test configurations
  torch_spyre_tests.sh
Due: none

Enhance timing in test script
  torch_spyre_tests.sh
Due: none

Remove workaround for backend dim label bug
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/constants.py
Due: enforce-import-regex-instead-of-re

Fix aten.cat lowering crash with zero-sized tensor inputs
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Tighten decompose_cat and explain why Spyre owns this path
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

update code not using sendnn namespace
  setup.py
  torch_spyre/csrc/types_mapping.h
Due: enforce-import-regex-instead-of-re

Add upstream_tests.sh to run
  upstream_tests.sh
Due: none

Add script to run module tests
  model_modules_tests.sh
Due: none

Add performance summary for test suites
  profiling.md
Due: none
