Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

[Docs] Enhancement to the debugging guide (#1280)
  README.md
  docs/source/user_guide/debugging/index.md
Due: none

Optimized host code for constant tensor creation (#1770)
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/ir.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/stickify.py
  torch_spyre/_inductor/temp_passes.py
  torch_spyre/_inductor/wrapper.py
Due: enforce-import-regex-instead-of-re

Enable inplace op logics for scratchpad planning (#1863)
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

Architecture changes to stickify.py to support global restickify optimization (#1929)
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/optimize_restickify.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/stickify.py
  torch_spyre/_inductor/wrapper.py
Due: enforce-import-regex-instead-of-re

Update CODEOWNERS (#1952)
  CODEOWNERS
Due: none

Initial test harness for lx_planning (#1615)
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_ops_lx_planning.py
  tests/inductor/utils_inductor.py
  torch_spyre/_inductor/config.py
Due: enforce-import-regex-instead-of-re

Enable all tests and xfail with the new API (#1900)
  tests/inductor/test_inductor_fx_passes.py
  tests/inductor/test_inductor_ops.py
  tests/test_modules.py
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

Enable torch.floor (#1771)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

feat: add first test of scratchpad allocation (#1283)
  tests/inductor/test_scratchpad_use.py
Due: enforce-import-regex-instead-of-re

refactor: split core_division into span_reduction and work_distribution passes (#1964)
  docs/source/compiler/index.rst
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/work_division_codegen.md
  docs/source/compiler/work_division_planning.md
  docs/source/user_guide/tensors_and_layouts.md
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/scratchpad.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/temp_passes.py
  torch_spyre/_inductor/views.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

V1 of simple beam-style forward propagation restickify global optimizer. (#1979)
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/optimize_restickify.py
Due: enforce-import-regex-instead-of-re

Add documentation for op enablement (#895)
  docs/source/compiler/index.rst
  docs/source/compiler/op_enablement.md
Due: none

Simplify codegen (#1875)
  .claude/skills/check-docs/SKILL.md
  .claude/skills/project-overview/SKILL.md
  .pre-commit-config.yaml
  codegen/README.md
  codegen/__init__.py
  codegen/assets/codegen.png
  codegen/gen.py
  codegen/inputs/Declarations.yaml
  codegen/inputs/Metadata.yaml
  codegen/inputs/RegistrationDeclarations.h
  codegen/inputs/spyre_torch_ops.cpp
  codegen/templates/base.jinja2
  codegen/templates/fallback.jinja2
  codegen/templates/list_inp.jinja2
  codegen/templates/native_call.jinja2
  codegen/templates/view.jinja2
  codegen/templates/view_copy.jinja2
  codegen/utils/__init__.py
  codegen/utils/arg_mapper.py
  codegen/utils/shape_extractor.py
  codegen/utils/template_tools.py
  docs/source/user_guide/supported_operations.md
  setup.py
  torch_spyre/__init__.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/ops/eager.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

feat: separate out lx alloc connection to inductor (#1704)
  tests/inductor/test_scratchpad_patterns.py
  tests/inductor/test_scratchpad_use.py
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

[tests] added feature to mark expect test fail (#1204)
  tests/inductor/test_inductor_ops.py
  tests/inductor/utils_inductor.py
Due: enforce-import-regex-instead-of-re

[docs] sync with main, fill compiler/runtime/layout gaps, add tensor-view diagrams (#1876)
  .claude/skills/check-docs/SKILL.md
  docs/source/_static/images/spyre-core-microarchitecture.png
  docs/source/_static/images/spyre-core-microarchitecture.svg
  docs/source/_static/images/spyre-device-allocator.png
  docs/source/_static/images/spyre-device-allocator.svg
  docs/source/_static/images/spyre-device-views.png
  docs/source/_static/images/spyre-device-views.svg
  docs/source/_static/images/spyre-memory-hierarchy.svg
  docs/source/_static/images/spyre-stride-map.png
  docs/source/_static/images/spyre-stride-map.svg
  docs/source/_static/images/spyre-tensor-impl-anatomy.png
  docs/source/_static/images/spyre-tensor-impl-anatomy.svg
  docs/source/_static/images/spyre-tensor-lifetime.png
  docs/source/_static/images/spyre-tensor-lifetime.svg
  docs/source/_static/images/work-division-matmul.svg
  docs/source/api/torch_spyre.rst
  docs/source/architecture/dataflow_architecture.md
  docs/source/architecture/spyre_accelerator.md
  docs/source/compiler/architecture.md
  docs/source/compiler/backend.md
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/work_division_codegen.md
  docs/source/compiler/work_division_planning.md
  docs/source/conf.py
  docs/source/contributing/guidelines.md
  docs/source/getting_started/installation.md
  docs/source/rfcs/index.md
  docs/source/runtime/overview.md
  docs/source/user_guide/profiling.md
  docs/source/user_guide/running_models.md
  docs/source/user_guide/supported_operations.md
  docs/source/user_guide/tensors_and_layouts.md
Due: enforce-import-regex-instead-of-re

feat: add MOE MLP pattern (#1961)
  tests/inductor/test_scratchpad_patterns.py
Due: enforce-import-regex-instead-of-re

Fix scalar torch.ones decomposition for zero-dimensional tensors (#1922)
  tests/test_spyre.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

[TESTING] run_test.sh: gate OOT wrapper injection using parametrize-alias detection and class-level decorator classification (#1985)
  tests/run_test.sh
Due: none

Lowerings not restored by spyre context (#1504)
  tests/inductor/test_inductor_fx_passes.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

Remove sendnn tests in preparation for stream rework (#1896)
  tests/inductor/test_inductor_ops.py
  tests/inductor/utils_inductor.py
Due: enforce-import-regex-instead-of-re

Fix for breaking upstream Flex changes (#1908)
  torch_spyre/csrc/spyre_stream.cpp
Due: none

Eager tests for reduction ops- mean, sum, max min (#1828)
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Remove slice custom lowering again (#1966)
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

[docs] Add profiling section and split debugging into a section (#1746)
  docs/source/conf.py
  docs/source/contributing/index.rst
  docs/source/contributing/profiling.md
  docs/source/rfcs/index.md
  docs/source/user_guide/debugging/index.md
  docs/source/user_guide/debugging/inductor_artifacts.md
  docs/source/user_guide/index.rst
  docs/source/user_guide/profiling.md
  docs/source/user_guide/profiling/device_monitoring.md
  docs/source/user_guide/profiling/environment_variables.md
  docs/source/user_guide/profiling/index.md
  docs/source/user_guide/profiling/performance_analysis_methodology.md
  docs/source/user_guide/profiling/pytorch_profiler.md
  docs/source/user_guide/profiling/toolkit_matrix.md
  docs/source/user_guide/profiling/trace_analysis.md
Due: enforce-import-regex-instead-of-re

fix:raise proper exit code on pytest falures (#1955)
  tests/run_test.sh
Due: none

Test: Pytorch upstream test configs (#1839)
  .github/workflows/upstream_tests_beta.yaml
  tests/configs/upstream_tests/test_binary_ufuncs.yaml
  tests/configs/upstream_tests/test_indexing.yaml
  tests/configs/upstream_tests/test_linalg.yaml
  tests/configs/upstream_tests/test_nn_test_embedding.yaml
  tests/configs/upstream_tests/test_nn_test_lazy_modules.yaml
  tests/configs/upstream_tests/test_nn_test_pooling.yaml
  tests/configs/upstream_tests/test_reductions.yaml
  tests/configs/upstream_tests/test_shape_ops.yaml
  tests/configs/upstream_tests/test_tensor_creation_ops.yaml
  tests/configs/upstream_tests/test_torch.yaml
  tests/configs/upstream_tests/test_unary_ufuncs.yaml
Due: none

fix: D2H copy of expanded tensor reads stride-0 dims as garbage (#1470) (#1899)
  tests/test_spyre.py
  torch_spyre/csrc/spyre_mem.cpp
Due: enforce-import-regex-instead-of-re

Scratchpad refactor interfaces (#1941)
  torch_spyre/_inductor/layout_backend.py
  torch_spyre/_inductor/scratchpad_allocator.py
  torch_spyre/_inductor/scratchpad_passes.py
Due: enforce-import-regex-instead-of-re

move 2 tests failing in inductor ops to xfail (#2060)
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_config.yaml
Due: none

Generalize view handling with offsets and gaps (#2008)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

skill(add-spyre-operation): add model-based verification step to op checklist (#1735)
  .claude/skills/add-spyre-operation/SKILL.md
  .claude/skills/add-spyre-operation/op-checklist.md
Due: none

Fix `AttributeError` in `spyre__copy_from` when copying empty tensors (#1937)
  tests/inductor/test_inductor_ops.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

Revert "Enable mean in fp32 format (#1663)" (#2051)
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inductor_ops_lx_planning.py
  torch_spyre/_inductor/constants.py
Due: enforce-import-regex-instead-of-re

Cleanup of global optimizer main loop. (#1999)
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/optimize_restickify.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

[TESTING GHA] Add granite 3.3 8b instruct module test to GHA (#2073)
  .github/workflows/module_tests.yaml
  tests/configs/module_tests/granite_3_3_8b_instruct_spyre.yaml
Due: none

mark failing tests in lx op planning to xfail and disable model ops tests from cicd (#2056)
  .github/workflows/model_ops_tests.yaml
  tests/configs/torch_spyre_tests/inductor/test_ops_lx_planning_config.yaml
  tests/configs/upstream_tests/test_view_ops_config.yaml
Due: none

[docs] Add end-to-end profiling example for Granite on Spyre (#1954)
  docs/source/user_guide/profiling/end_to_end_example.md
  docs/source/user_guide/profiling/index.md
Due: none

add segfault handling of tests via n1 xdist approach (#2019)
  pyproject.toml
  requirements/dev.txt
  tests/run_test.sh
  tests/spyre_test_parsing.py
  uv.lock
Due: check-requirements-dev, enforce-import-regex-instead-of-re

Updated files for PT 2.11 (#1930)
  .claude/skills/project-overview/SKILL.md
  .claude/skills/upgrade-pytorch-version/SKILL.md
  .github/workflows/upstream_tests.yaml
  .github/workflows/upstream_tests_beta.yaml
  docs/source/getting_started/installation.md
  pyproject.toml
  requirements/build.txt
  requirements/dev.txt
  requirements/run.txt
  torch_spyre/_monkey_patch.py
  uv.lock
Due: check-requirements-dev, enforce-import-regex-instead-of-re
