Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

feat(ingest): record an errored capability test as undetermined, not failed
  extensions/clickhouse-ingest/docs/classes.md
  extensions/clickhouse-ingest/schema/46-capabilities.sql
  extensions/clickhouse-ingest/schema/61-capability-views.sql
  extensions/clickhouse-ingest/schema/migrations/008_capability_vocabulary.sql
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/schema.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/writer.py
  extensions/clickhouse-ingest/tests/test_apply_schema.py
  extensions/clickhouse-ingest/tests/test_test_result_writer.py
Due: enforce-import-regex-instead-of-re

fix(views): count CPU fallbacks in spyre_pass_rate's total
  extensions/clickhouse-ingest/schema/61-capability-views.sql
Due: none

fix(views): rate model support per op, as the v1 counts did
  extensions/clickhouse-ingest/schema/61-capability-views.sql
Due: none

fix(gha-ingest): derive the artifact identity on the bare backend image
  .github/workflows/upstream_tests.yaml
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/identity.py
  tests/test_derive_artifact_id.py
Due: enforce-import-regex-instead-of-re

fix(gha-ingest): hardware diagnostics join the leg's threaded run_id
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
Due: none

ci: keep the run-id and artifact-id artifacts 14 days, like the JUnit reports
  .github/actions/derive-gha-artifact-id/action.yml
  .github/actions/recover-threaded-run-id/action.yml
  .github/workflows/_test_matrix.yaml
Due: none

fix(ingest): one outcome per case per run in v2, and keep a rerun count
  .github/scripts/ingest_xml.py
  extensions/clickhouse-ingest/schema/migrations/007_one_outcome_per_case.sql
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/writer.py
  extensions/clickhouse-ingest/tests/test_one_outcome_per_case.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

fix(ingest): within one file the later write wins; across files the worse outcome
  extensions/clickhouse-ingest/schema/migrations/007_one_outcome_per_case.sql
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/writer.py
  extensions/clickhouse-ingest/tests/test_one_outcome_per_case.py
  tests/test_ingest_xml.py
Due: enforce-import-regex-instead-of-re

test(ingest): fake clients answer the held-rows lookup; match the reuse filter's alias
  tests/test_model_ops_v1_parity.py
  tests/test_reuse_copy.py
Due: enforce-import-regex-instead-of-re

fix(ingest): keep differing outcomes; drop only rows that restate another
  extensions/clickhouse-ingest/schema/migrations/007_one_outcome_per_case.sql
  extensions/clickhouse-ingest/schema/migrations/009_one_outcome_per_case.sql
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/writer.py
  extensions/clickhouse-ingest/tests/test_one_outcome_per_case.py
Due: enforce-import-regex-instead-of-re

fix(ingest): a local skip no longer blocks a reused copy; 009 compares durations to the ms
  .github/scripts/ingest_xml.py
  extensions/clickhouse-ingest/schema/migrations/009_one_outcome_per_case.sql
  extensions/clickhouse-ingest/tests/test_one_outcome_per_case.py
  tests/test_reuse_copy.py
Due: enforce-import-regex-instead-of-re

ci: run model-ops and upstream suites via _test_matrix config_dir; drop jenkins-connectivity-check
  .github/workflows/_test_matrix.yaml
  .github/workflows/jenkins-connectivity-check.yaml
  .github/workflows/model_ops_tests.yaml
  .github/workflows/push-to-clickhouse.yaml
  .github/workflows/torch_spyre_tests.yaml
  .github/workflows/upstream_tests.yaml
  .github/workflows/upstream_tests_beta.yaml
  tests/configs/upstream_tests/test_autocast_config.yaml
  tests/configs/upstream_tests/test_binary_ufuncs_config.yaml
  tests/configs/upstream_tests/test_torch_config.yaml
Due: none

fix(ingest): keep identity.py stdlib-only so derive_artifact_id runs on bare python3
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/identity.py
  tests/test_derive_artifact_id.py
Due: enforce-import-regex-instead-of-re

fix(lowering): keep host-side comparisons on stock Inductor lowering
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

fix(tests): mark the multi-card --parallel signal retry as retried too
  tests/oot_framework/run_test.sh
  tests/test_mark_retried.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): per-person v2 sandbox databases on dev
  .github/workflows/clickhouse-schema.yaml
  extensions/clickhouse-ingest/schema/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/sandbox.py
  extensions/clickhouse-ingest/tests/test_sandbox.py
Due: enforce-import-regex-instead-of-re

feat(inductor): support dtype conversions of stick-unaligned tensors by padding
  tests/inductor/test_codegen.py
  tests/inductor/test_ea_bidirectional_conversion.py
  tests/inductor/test_inductor_ops.py
  tests/tensor/test_tensor_layout.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/kernel_provenance.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/work_division.py
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

fix(sandbox): pin the prod collection's keys, replace logins, and make re-seeding additive
  .github/workflows/clickhouse-schema.yaml
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/sandbox.py
  extensions/clickhouse-ingest/tests/test_sandbox.py
Due: enforce-import-regex-instead-of-re

feat(clickhouse-ingest): self-serve sandbox MCP server
  .github/workflows/clickhouse-schema.yaml
  extensions/clickhouse-ingest/pyproject.toml
  extensions/clickhouse-ingest/schema/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/sandbox.py
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/sandbox_server.py
  extensions/clickhouse-ingest/tests/test_sandbox_server.py
Due: check-requirements-dev, enforce-import-regex-instead-of-re

fix(sandbox-server): refuse service-account sign-ups and keep long owners distinct
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/sandbox_server.py
  extensions/clickhouse-ingest/tests/test_sandbox_server.py
Due: enforce-import-regex-instead-of-re

fix(inductor): support stick-only tensors in dtype conversions
  tests/inductor/test_codegen.py
  tests/inductor/test_ea_bidirectional_conversion.py
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

fix(sandbox-server): serialize owner calls, gate verify on server version, add revocation, and document sandboxes
  extensions/clickhouse-ingest/docs/README.md
  extensions/clickhouse-ingest/docs/sandbox.md
  extensions/clickhouse-ingest/schema/README.md
  extensions/clickhouse-ingest/spyre_clickhouse_ingest/sandbox_server.py
  extensions/clickhouse-ingest/tests/test_sandbox_server.py
Due: enforce-import-regex-instead-of-re

add usage examples for the tools
  extensions/clickhouse-ingest/docs/sandbox.md
Due: none

test: skip upstream tests due to regression reported through crcr
  tests/configs/upstream_tests_beta/nn-test_embedding.yaml
  tests/configs/upstream_tests_beta/nn-test_pooling.yaml
  tests/configs/upstream_tests_beta/test_indexing.yaml
  tests/configs/upstream_tests_beta/test_linalg.yaml
  tests/configs/upstream_tests_beta/test_reductions.yaml
  tests/configs/upstream_tests_beta/test_shape_ops.yaml
  tests/configs/upstream_tests_beta/test_spectral_ops.yaml
  tests/configs/upstream_tests_beta/test_tensor_creation_ops.yaml
  tests/configs/upstream_tests_beta/test_torch.yaml
  tests/configs/upstream_tests_beta/test_unary_ufuncs.yaml
Due: none

perf(cost-model): improve TP decode matmul work division (#4880)
  tests/inductor/test_cost_model_replication.py
  torch_spyre/_inductor/cost_model.py
Due: enforce-import-regex-instead-of-re

fix(inductor): collect a mutation whose target is dead
  tests/configs/torch_spyre_tests/inductor/test_deadcode_elimination_config.yaml
  tests/inductor/test_deadcode_elimination.py
  torch_spyre/_inductor/deadcode_elimination.py
Due: enforce-import-regex-instead-of-re

fix(ci): scope pod-level retry descriptors to their _test_matrix call
  .github/workflows/_test_matrix.yaml
Due: none

feat(inductor): convert int64 to and from float32 on device
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/dtype_ops.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

Add maxpool to misc compute config yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_compute_b_config.yaml
Due: none

fix(inductor): give the virtual row only to width-changing conversions
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

feat(inductor): convert int64 to and from float32 on device
  tests/inductor/test_inductor_ops.py
  tests/inductor/test_inplace_op_kernels.py
  tests/test_spyre.py
  torch_spyre/_inductor/dtype_ops.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

fix(inductor): refuse a split that would combine view loads
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

refactor(inductor): key the virtual row on the conversion's stick width
  tests/inductor/test_fp8_operations.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

test(inductor): group the split_multi_ops view-load tests
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_lx_misc_shape_a_config.yaml
  tests/configs/torch_spyre_tests/inductor/test_inductor_ops_misc_shape_a_config.yaml
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

docs: address review feedback on the doc-drift refresh
  docs/source/api/torch_spyre.rst
  docs/source/compiler/coarse_tiling_loops.md
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/working_set_reduction.md
  docs/source/getting_started/quickstart.md
  docs/source/runtime/index.md
  docs/source/user_guide/running_hf_models.md
  docs/source/user_guide/supported_operations.md
Due: none

perf(inductor): count the frontend's analysis calls
  docs/source/api/torch_spyre.rst
  docs/source/user_guide/profiling/environment_variables.md
  tests/configs/torch_spyre_tests/inductor/test_pass_counters_config.yaml
  tests/inductor/test_dedup_constants.py
  tests/inductor/test_pass_counters.py
  torch_spyre/_inductor/pass_counters.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/patches.py
Due: enforce-import-regex-instead-of-re

perf(inductor): time the read-writes extraction the counters count
  docs/source/user_guide/profiling/environment_variables.md
  torch_spyre/_inductor/pass_counters.py
Due: enforce-import-regex-instead-of-re

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
