Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

fix ruff-check error
  tests/_inductor/models/gpt-oss/test_mul_ng.py
  tests/_inductor/models/gpt-oss/test_mul_ok.py
  tests/_inductor/models/granite4-h/test_mul_124.py
  tests/_inductor/models/granite4-h/test_mul_162.py
  tests/_inductor/models/granite4-h/test_mul_48.py
  tests/_inductor/models/granite4-h/test_mul_48_roundup.py
  tests/_inductor/models/granite4-h/test_mul_49.py
  tests/_inductor/models/granite4-h/test_mul_49__roundup_3d_fp16.py
Due: enforce-import-regex-instead-of-re

follow naming convention
  tests/_inductor/models/granite4-h/test_mul_48__roundup.py
Due: enforce-import-regex-instead-of-re

add warning for downcast type from int64 to int32 with new environment variable to globally turn off the warning.
  README.md
  setup.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/module.h
  torch_spyre/csrc/types_mapping.h
Due: enforce-import-regex-instead-of-re

add test functions
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

added more information for pf/vf and open questions
  RFCs/spyre-device-rfc.md
Due: none

Add 4d transpose dims 0 and 3
  tests/_inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/data_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

Add skipped test for 4d transpose, add comments
  tests/_inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

bring back lazy import and silent output
  tests/test_spyre_lazy_silent.py
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

address issue #255
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

update from torch 2.7.1 to 2.9.1
  README.md
  pyproject.toml
  requirements/build.txt
  requirements/dev.txt
  requirements/run.txt
  uv.lock
Due: check-requirements-dev

fixed spyre_kernel to work with 2.9.1
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/utils/device_interface.py
Due: enforce-import-regex-instead-of-re

Draft of Tiled Tensor RFC
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
  RFCs/0047-TiledTensors/tensor-device-layout.png
  RFCs/0047-TiledTensors/tensor-host-layout.png
  RFCs/0047-TiledTensors/tensor-logical-view.png
  RFCs/README.md
Due: none

revise based on discussions
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

Update description of alternative approach.
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

tweak markdown format
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

Revise to use PyTorch template
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

fix bad merge
  RFCs/README.md
Due: none

Fix some typos
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

fix picture
  RFCs/0047-TiledTensors/tensor-logical-view.png
Due: none

fix typo in pictures: 256 should have been 255
  RFCs/0047-TiledTensors/tensor-device-layout.png
  RFCs/0047-TiledTensors/tensor-host-layout.png
  RFCs/0047-TiledTensors/tensor-logical-view.png
Due: none

fix pictures
  RFCs/0047-TiledTensors/tensor-device-layout.png
  RFCs/0047-TiledTensors/tensor-host-layout.png
Due: none

A pass on motivation
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

fix typo in picture: 1023 ==> 1023
  RFCs/0047-TiledTensors/tensor-host-layout.png
  RFCs/0047-TiledTensors/tensor-logical-view.png
Due: none

wordsmith motivation
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

Tweak motivation
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

format
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

revise implementation section
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

Enable torch.clamp
  tests/_inductor/test_inductor_ops.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/opfuncs.py
  torch_spyre/_inductor/opoverrides.py
Due: enforce-import-regex-instead-of-re

Test torch.nn.GELU
  tests/_inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Update test_inductor_ops.py
  tests/_inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Test torch.nn.functional.silu
  tests/_inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

rework motivation section
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

linter fix
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

Add CPU fallback for arange, sin, and cos operators
  tests/test_fallbacks.py
  torch_spyre/fallbacks.py
  torch_spyre/ops.py
Due: enforce-import-regex-instead-of-re

finish rewriting pass
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

on spyre torch.bool corresponds to float16
  torch_spyre/csrc/types_mapping.h
Due: none

adjust title to reflect intended scope
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

Adjust hooks to support direct compilation of a module
  torch_spyre/_inductor/__init__.py
  torch_spyre/_inductor/patches.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

fix typo
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

editing pass
  RFCs/0047-TiledTensors/0047-TiledTensorsRFC.md
Due: none

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
