Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$

rename functions based on feedback
  torch_spyre/csrc/spyre_mem.cpp
Due: none

Reorg requirement files
  requirements/README.md
  requirements/all.txt
  requirements/dev.txt
  requirements/lint.txt
  tools/update-requirements.sh
Due: none

Fix check-requirements script
  tools/check-requirements.sh
Due: none

Fix typo
  requirements/README.md
Due: none

update function names
  torch_spyre/csrc/spyre_mem.cpp
Due: none

Align setuptools version with pytorch 2.7.1
  pyproject.toml
  requirements/all.txt
  requirements/dev.txt
Due: check-requirements-dev

Cleanup project dependencies
  .github/workflows/linters.yaml
  pyproject.toml
  requirements/README.md
  requirements/build.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/run.txt
  tools/check-requirements.sh
  tools/update-requirements.sh
Due: check-requirements-dev

Fix github action
  .github/workflows/linters.yaml
Due: none

address comments
  torch_spyre/csrc/spyre_mem.cpp
Due: none

Add warning about torch_sendnn install
  pyproject.toml
  requirements/README.md
Due: check-requirements-dev

refactor SpyreDCI to SpyreTensorLayout per RFC design
  tests/tensor/test_spyre_dci.py
  tests/tensor/test_tensor_layout.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_tensor_impl.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: enforce-import-regex-instead-of-re

import str() for SpyreTensorLayout
  tests/tensor/test_tensor_layout.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_tensor_impl.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: enforce-import-regex-instead-of-re

linter fixes
  torch_spyre/csrc/spyre_tensor_impl.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: none

linter fixes
  torch_spyre/csrc/module.cpp
Due: none

Add intial DCI support for 4d tensors
  tests/test_ops.py
  torch_spyre/csrc/spyre_mem.cpp
Due: enforce-import-regex-instead-of-re

Clairfy build/setup instructions
  README.md
Due: none

Simplify pre-commit config
  .pre-commit-config.yaml
Due: none

fix typo
  README.md
Due: none

enables eq and ge; adds test for eq and ge; still open issue about output dtype -- to solve in separate issue
  codegen/inputs/Metadata.yaml
  tests/test_ops.py
Due: enforce-import-regex-instead-of-re

Add yamlfmt hook
  .github/workflows/linters.yaml
  .pre-commit-config.yaml
  requirements/all.txt
  requirements/build.txt
  requirements/dev.txt
Due: none

add --preserve_null yamlfmt config
  .pre-commit-config.yaml
Due: none

Enable implicit_start in yamlfmt hook
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/workflows/linters.yaml
  .pre-commit-config.yaml
Due: none

add softmax example
  README.md
  examples/softmax.py
Due: enforce-import-regex-instead-of-re

Eliminate all.txt requirements
  requirements/README.md
  requirements/all.txt
  requirements/dev.txt
  tools/check-requirements.sh
  tools/update-requirements.sh
Due: none

Add output tensor to device init when args==6
  torch_spyre/csrc/module.cpp
Due: none

update dependecies so CI will pass
  requirements/build.txt
  requirements/dev.txt
  requirements/lint.txt
Due: none

update dependecies so CI will pass (#95)
  requirements/build.txt
  requirements/dev.txt
  requirements/lint.txt
Due: none

refactor SpyreTensorLayout constructors
  tests/tensor/test_tensor_layout.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_tensor_impl.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: enforce-import-regex-instead-of-re

update comment
  torch_spyre/csrc/spyre_tensor_impl.h
Due: none

allow a tensor on device to be printed out to console
  tests/test_spyre.py
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

linting
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

ensure device is part of the print out
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

test now check with device= to be present in the print out
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

Fix formatting
  tests/test_ops.py
Due: enforce-import-regex-instead-of-re

Add DCI support for 4d tensors
  tests/test_ops.py
  torch_spyre/csrc/spyre_mem.cpp
Due: enforce-import-regex-instead-of-re

Address comments
  torch_spyre/csrc/spyre_mem.cpp
Due: none

add 2 new tests and rename monkey patch function for future extension
  tests/test_spyre.py
  torch_spyre/__init__.py
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

added inductor path tests for eq
  tests/_inductor/test_inductor_ops.py
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/_inductor/opfuncs.py
Due: enforce-import-regex-instead-of-re
