Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

Removed duplicate ministral_3_14B_Instruct_2512_spyre.yaml (#2858)
  tests/configs/model_ops_tests/ministral_3_14B_Instruct_2512_spyre.yaml
Due: none

Add kineto memcpy H2D/D2H and memset event capture test (#2736)
  tests/profiler/test_spyre_profiler.py
Due: enforce-import-regex-instead-of-re

chore(test framework): Refactor oot test framework into torch spyre package (#2866)
  tests/conftest.py
  tests/models/test_model_ops_v2.py
  tests/oot_framework/__init__.py
  tests/oot_framework/oot_test_base_common.py
  tests/oot_framework/oot_test_common_methods_invocations.py
  tests/oot_framework/oot_test_config_models.py
  tests/oot_framework/oot_test_constants.py
  tests/oot_framework/oot_test_matching.py
  tests/oot_framework/oot_test_parsing.py
  tests/oot_framework/oot_test_utilities.py
  tests/oot_framework/oot_upstream_patcher.py
  tests/oot_framework/pyproject.toml
  tests/oot_framework/run_test.sh
Due: check-requirements-dev, enforce-import-regex-instead-of-re

feat(cicd) : add integration tests to be able to run tests (subsets) from change in upstream dependant repo (deeptools/flex) (#2885)
  .github/workflows/integration-tests.yaml
Due: none

docs: add interactive knowledge graph explorer (#2700)
  .claude/skills/check-docs/SKILL.md
  .gitignore
  docs/source/_ext/__init__.py
  docs/source/_ext/extract_graph.py
  docs/source/_ext/knowledge_graph_ext.py
  docs/source/_static/css/custom.css
  docs/source/_static/js/knowledge_graph.js
  docs/source/conf.py
  docs/source/explorer/index.md
  docs/source/index.rst
Due: enforce-import-regex-instead-of-re

refactor: route flex stream launches through SpyreStream (#2820)
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/job_plan.h
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_kernel.cpp
  torch_spyre/csrc/spyre_kernel.h
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
Due: none

test: remove xfail from test_nested_bmm_outer_Batch_inner_K_correct (#2863)
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

Updated lx planning test op to match incoming value scale (#2462)
  tests/inductor/test_inductor_ops_lx_planning.py
Due: enforce-import-regex-instead-of-re

run non-xfail tests in CI (#2875)
  .github/workflows/_test_matrix.yaml
  .github/workflows/torch_spyre_tests.yaml
Due: none

Added propagate named dims handling for indirect access (#2867)
  tests/inductor/test_propagate_named_dims.py
  torch_spyre/_inductor/propagate_named_dims.py
Due: enforce-import-regex-instead-of-re

Don't free intermediate bufs (#2872)
  torch_spyre/_inductor/wrapper.py
Due: enforce-import-regex-instead-of-re

Enable SpyreCode + SuperDSC Bundles with fake symbols by default (#2652)
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_propagate_named_dims.py
  tests/inductor/test_work_division_hint.py
  torch_spyre/__init__.py
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/unroll.py
  torch_spyre/_inductor/config.py
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

Remove References to Runtime Entry (#2855)
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/module.h
  torch_spyre/csrc/spyre_stream.cpp
Due: none

Extend propagate_named_dims tests to validate dim_hints (#2864)
  tests/inductor/test_propagate_named_dims.py
Due: enforce-import-regex-instead-of-re

fix(test framework): bootstrap PYTHONPATH from script location before multi-config merge (#2902)
  tests/oot_framework/run_test.sh
Due: none

check CountedLoopSchedulerNode tensor budget in spyre_fuse_nodes (#2874)
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/fusion.py
Due: enforce-import-regex-instead-of-re

SPYRE_INDUCTOR_IGNORE_HINTS will also disable hint-based WSR (#2896)
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

Enable torch.max.default (no dim parameter) (#2840)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Include bootstrap offset for compute (#2814)
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/job_plan.h
  torch_spyre/csrc/prepare_kernel.cpp
Due: none

docs(profiling): remove internal Artifactory URLs from device monitoring (#2909)
  docs/source/user_guide/profiling/device_monitoring.md
Due: none

docs: Phase 1 source-to-kernel provenance audit (#2574) (#2720)
  .gitignore
  docs/source/user_guide/examples/index.md
  docs/source/user_guide/examples/provenance/README.md
  docs/source/user_guide/examples/provenance/audit.py
  docs/source/user_guide/examples/provenance/pipeline/__init__.py
  docs/source/user_guide/examples/provenance/pipeline/captures.py
  docs/source/user_guide/examples/provenance/pipeline/report.py
  docs/source/user_guide/examples/provenance/pipeline/superdsc.py
  docs/source/user_guide/examples/provenance/provenance_analysis.md
  docs/source/user_guide/examples/provenance/provenance_audit.md
  docs/source/user_guide/examples/provenance/reference_mlp.py
Due: enforce-import-regex-instead-of-re

Enable and optimize MLP LX pinning (#2765)
  docs/source/compiler/scratchpad_planning.md
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/firstfit_bestfit_solver.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
  torch_spyre/_inductor/scratchpad/utils.py
Due: enforce-import-regex-instead-of-re

Prune ordered work_div hints over sencores (#2764)
  docs/source/compiler/work_division_planning.md
  tests/inductor/test_work_division_hint.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

feat(test framework): add per-file result summary and failed test list at end of run (#2917)
  tests/oot_framework/run_test.sh
Due: none

feat(make): Add setup and precommit Make targets for developer workflow (#2919)
  Makefile
Due: none

Fix the failure of the index_copy ops in CI/CD (#2873)
  tests/models/test_model_ops_v2.py
Due: enforce-import-regex-instead-of-re

chore(test framework): pre-compile MatchSet regex patterns to avoid repeated re.compile on every matches() call (#2921)
  tests/oot_framework/oot_test_matching.py
Due: enforce-import-regex-instead-of-re

chore(test framework): rename TorchTestBase to OOTTestBase (#2920)
  tests/models/test_model_ops_v2.py
  tests/oot_framework/oot_test_base_common.py
  tests/oot_framework/oot_test_common_methods_invocations.py
  tests/oot_framework/oot_upstream_patcher.py
Due: enforce-import-regex-instead-of-re

Reorder to preserve loops (#2898)
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/coarse_tile.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

docs(compiler): fix drift in cost model, pass pipeline, backend, and RFC links (#2910)
  docs/source/_static/images/how-torch-spyre-works/fig4-compilation-pipeline.svg
  docs/source/compiler/backend.md
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/work_division_planning.md
  docs/source/compiler/working_set_reduction.md
  docs/source/getting_started/how_torch_spyre_works.md
Due: none

fix(memory_planning): sort pool allocation order deterministically (#2926)
  torch_spyre/_inductor/memory_planning.py
Due: enforce-import-regex-instead-of-re

[test] Improve conv2d test stability with Xavier initialization for op-level tests (#2928)
  tests/configs/model_ops_tests/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/configs/model_ops_tests/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
Due: none

Support reshape with indirect access (#2726)
  docs/source/compiler/indirect_access.md
  tests/inductor/test_propagate_named_dims.py
  torch_spyre/_inductor/coarse_tile.py
  torch_spyre/_inductor/optimize_restickify.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/propagate_named_dims.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/views.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

fix(ci): per-PR concurrency group on the dispatched workflow (parallel PRs + cancel-stale-commits) (#2922)
  .github/workflows/integration-tests.yaml
Due: none

docs: read knowledge-graph source files via absolute paths (#2904)
  docs/source/_ext/extract_graph.py
Due: enforce-import-regex-instead-of-re

docs: fix reference drift in env vars, downcast warning, runtime, and ops table (#2911)
  CLAUDE.md
  docs/source/api/torch_spyre.rst
  docs/source/getting_started/key_concepts.md
  docs/source/runtime/index.md
  docs/source/user_guide/profiling/environment_variables.md
  docs/source/user_guide/running_models.md
  docs/source/user_guide/supported_operations.md
Due: none

Generate SDSC for symbolic batch dimension for pointwise ops. (#2673)
  tests/inductor/test_codegen.py
  tests/inductor/test_inductor_fx_passes.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/views.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

fix: device-native stick-dim reconstruction in coarse_tile layout resize (#2912)
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/coarse_tile.py
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

Remove unnecessary OP_GOOD_FOR_LX_INPLACE (#2810)
  docs/source/compiler/scratchpad_planning.md
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/utils.py
Due: enforce-import-regex-instead-of-re

Remove 2 CBs workaround for timing error in Spyre Code (#2915)
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
