Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

move compiler-specific logic to _inductor package
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

Reworked direct overlapping testcases
  tests/inductor/test_inductor_ops.py
  tests/test_ops.py
Due: enforce-import-regex-instead-of-re

Enabled more eager tests
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

bugfix: fix tensor copy leading to detach failing
  torch_spyre/csrc/spyre_tensor_impl.cpp
Due: none

test: add detach test
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

Consolidated test_ops.py into test_inductor_ops.py
  tests/inductor/test_inductor_ops.py
  tests/test_ops.py
Due: enforce-import-regex-instead-of-re

Formatting fixes
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

port stickify from device_coordinates to stride_map
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

review comment: move matching_dim to views.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/stickify.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

2 minor fixes regarding scratchpad addr
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

linting
  torch_spyre/_inductor/codegen/compute_ops.py
Due: enforce-import-regex-instead-of-re

Change Pointwise core_division use the iteration space
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

tweak comment
  torch_spyre/_inductor/core_division.py
Due: enforce-import-regex-instead-of-re

Added contiguous tests back
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

enable symbolic shapes and addresses
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/views.py
  torch_spyre/_inductor/wrapper.py
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

Add support for torch.item() including and tests
  tests/inductor/test_inductor_ops.py
  tests/inductor/utils_inductor.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

changed decomposition to match other backends
  tests/inductor/test_inductor_ops.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

add aten.is_nonzero support
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

tried moving to eager and implementing customops, ran codege. attempt failed
  torch_spyre/_inductor/customops.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

fixed _compile_and_run() function
  tests/inductor/utils_inductor.py
Due: enforce-import-regex-instead-of-re

rebase main, code cleanup.
  tests/inductor/utils_inductor.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/ops/eager.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

Remove inheritance of SIMDKernel/SIMDScheduling
  torch_spyre/_inductor/choices.py
  torch_spyre/_inductor/dsc.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Add CPU fallback for unsupported to_dtype conversions
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

cicd: fix timeout, increase from 30 minutes to 12 hours
  .github/workflows/runtests.yaml
Due: none

Implement view-aware core divsion for pointwise ops
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Fix shallow_copy_from
  torch_spyre/csrc/spyre_tensor_impl.cpp
Due: none

Improve readability of printed sympy Exprs
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/wrapper.py
Due: enforce-import-regex-instead-of-re

nicer printing of ints as sympy Exprs
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

filter wildcards from it_space_dict
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Degenerate matmul/bmm to pointwise mul when K=1
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

update transformers library version and includde accelerate library
  pyproject.toml
  uv.lock
Due: check-requirements-dev

ran ./tools/update-requirements.sh
  requirements/dev.txt
Due: none

extend matching_dim for some key split dim patterns
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

removing accelerate library
  pyproject.toml
Due: check-requirements-dev

adding torch dependency back
  pyproject.toml
Due: check-requirements-dev

Keep only pyproject.toml changes
  requirements/dev.txt
  uv.lock
Due: none

Add stride to non-default SpyreTensorLayout constructor
  tests/tensor/test_tensor_layout.py
  torch_spyre/_C.pyi
  torch_spyre/_inductor/stickify.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_tensor_impl.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: enforce-import-regex-instead-of-re

Enable SDSCBundles by default
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

fix: add CODEOWNERS rule for torch_spyre/ top-level files
  CODEOWNERS
Due: none
