Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

Constraint dependencies updates
  pyproject.toml
  requirements/build.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/run.txt
  tools/check-requirements.sh
  tools/update-requirements.sh
Due: check-requirements-dev

Enable dependabot for actions and python
  .github/dependabot.yml
  .github/workflows/dependabot.yaml
Due: none

add support multiple dtypes creation of tensors add support creation of scalar tensor
  codegen/templates/base.jinja2
  tests/test_spyre.py
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_sendnn_utils.cpp
  torch_spyre/csrc/spyre_sendnn_utils.h
Due: enforce-import-regex-instead-of-re

add missing file
  torch_spyre/csrc/types_mapping.h
Due: none

add dtype checking as well to test
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

fix support for bool
  torch_spyre/csrc/types_mapping.h
Due: none

Enable torch.mean
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/opfuncs.py
Due: enforce-import-regex-instead-of-re

Add bmm op
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/opfuncs.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

ruff and fix spyre_bmm_result_shape
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

ruff fix
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

refactor: change 1D work division assertion to unsupported
  torch_spyre/_inductor/codegen/compute_ops.py
Due: enforce-import-regex-instead-of-re

fix dependencies so precommmit passes (again...)
  requirements/build.txt
  requirements/dev.txt
  requirements/lint.txt
Due: none

port additional inductor tests to open source
  tests/_inductor/test_building_blocks.py
Due: enforce-import-regex-instead-of-re

add SpyreTensorLayout to SpyreTensorImpl
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: none

add python API to get SpyreTensorLayout from torch.tensor
  tests/tensor/test_tensor_layout.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_tensor_impl.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
  torch_spyre/utils/tensors.py
Due: enforce-import-regex-instead-of-re

define equality for SpyreTensorLayout
  tests/tensor/test_tensor_layout.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: enforce-import-regex-instead-of-re

fix bad merge
  torch_spyre/csrc/spyre_mem.cpp
Due: none

Support generic padding for stick dim
  tests/test_ops.py
  torch_spyre/csrc/spyre_mem.cpp
Due: enforce-import-regex-instead-of-re

eager matmul now going through inductor
  codegen/inputs/spyre_torch_ops.cpp
  tests/test_ops.py
  torch_spyre/__init__.py
  torch_spyre/_inductor/__init__.py
  torch_spyre/ops.py
Due: enforce-import-regex-instead-of-re

handle size 0 tensors (ie, scalars)
  torch_spyre/csrc/spyre_tensor_impl.cpp
Due: none

review comment: monkey patch Tensor class
  tests/tensor/test_tensor_layout.py
  torch_spyre/_monkey_patch.py
  torch_spyre/utils/tensors.py
Due: enforce-import-regex-instead-of-re

Add datatypes to sdsc gen
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/constants.py
  torch_spyre/_inductor/runtime/async_compile.py
  torch_spyre/csrc/module.cpp
Due: enforce-import-regex-instead-of-re

Switch from pip compile to uv.lock
  pyproject.toml
  requirements/README.md
  requirements/build.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/run.txt
  setup.py
  tools/check-requirements.sh
  tools/update-requirements.sh
  uv.lock
Due: check-requirements-dev, enforce-import-regex-instead-of-re

eager mm op now implemented through inductor pathway
  codegen/inputs/spyre_torch_ops.cpp
  tests/test_modules.py
  tests/test_ops.py
  torch_spyre/__init__.py
  torch_spyre/ops.py
Due: enforce-import-regex-instead-of-re

addressed pr comments; added comments regarding inductor config (unroll_reductions_threshold); added comments regarding tensor shapes for test
  tests/test_modules.py
  tests/test_ops.py
  torch_spyre/__init__.py
  torch_spyre/_inductor/__init__.py
Due: enforce-import-regex-instead-of-re

Let dependabot update individual packages
  .github/dependabot.yml
Due: none

Use spyre-bot GitHub app token
  .github/workflows/dependabot.yaml
Due: none

create RFC template
  RFCs/NNNN-template/NNNN-template.md
  RFCs/README.md
Due: none

Add uv.lock to the commit
  .github/workflows/dependabot.yaml
Due: none

Enable torch.ne
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/_inductor/opfuncs.py
Due: enforce-import-regex-instead-of-re

Add a test
  tests/_inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

linter fix
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

port inductor from using SpyreDCI to SpyreTensorLayout
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/_inductor/stickify.py
  torch_spyre/_inductor/tensors.py
  torch_spyre/_inductor/wrapper.py
Due: enforce-import-regex-instead-of-re

fix dim_order computation in unsqueeze fake function
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/csrc/spyre_tensor_impl.cpp
Due: enforce-import-regex-instead-of-re

rename spyre_dci to spyre_layout
  torch_spyre/_inductor/__init__.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/_inductor/stickify.py
  torch_spyre/_inductor/tensors.py
Due: enforce-import-regex-instead-of-re

use native StickFormat enum
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

fix a few missed function renames
  torch_spyre/_inductor/fake_ops.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re
