Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

fix(tests): move misplaced kwargs under sample_inputs_func in model_ops_tests YAML configs (#2991)
  tests/configs/model_ops_tests/Meta-Llama-3.1-8B-Instruct.yaml
  tests/configs/model_ops_tests/Meta-Llama-3.1-8B-Instruct_spyre.yaml
  tests/configs/model_ops_tests/Ministral-3-14B-Instruct-2512.yaml
  tests/configs/model_ops_tests/Ministral-3-14B-Instruct-2512_spyre.yaml
  tests/configs/model_ops_tests/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/configs/model_ops_tests/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
  tests/configs/model_ops_tests/gpt-oss-20b.yaml
  tests/configs/model_ops_tests/gpt-oss-20b_spyre.yaml
  tests/configs/model_ops_tests/granite-3.3-8b-instruct-fms.yaml
  tests/configs/model_ops_tests/granite-3.3-8b-instruct-fms_spyre.yaml
  tests/configs/model_ops_tests/granite-3.3-8b-instruct.yaml
  tests/configs/model_ops_tests/granite-3.3-8b-instruct_spyre.yaml
  tests/configs/model_ops_tests/granite-4.1-8b.yaml
  tests/configs/model_ops_tests/granite-4.1-8b_spyre.yaml
Due: none

coarse_tile: clarify reorder_unhinted_interlopers and add coverage (#2942)
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Enable shape and stride logging for model-op failures in CI/CD (#2905)
  tests/conftest.py
  tests/models/test_model_ops_v2.py
  tests/oot_framework/oot_test_utilities.py
Due: enforce-import-regex-instead-of-re

docs(coarse_tile): sync coarse_tiling_loops.md with current implementation (#2997)
  docs/source/compiler/coarse_tiling_loops.md
  docs/source/compiler/span_overflow_hint_analysis.md
  torch_spyre/_inductor/coarse_tile.py
Due: enforce-import-regex-instead-of-re

feat(skills): add daily-status skill for squad standup updates (#2962)
  .claude/skills/daily-status/SKILL.md
Due: none

feat(coarse_tile): enable stick-dim reduction tiling (#2941)
  docs/source/compiler/coarse_tiling_loops.md
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Support unaligned stick-dimension slices in mutation buffers (#2750)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/loop_info.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/scheduler.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/work_division.py
  torch_spyre/_inductor/wrapper.py
Due: enforce-import-regex-instead-of-re

Enable 7 dimension SpyreTensorLayout if stick dim is sparse (-1) (#2993)
  tests/inductor/test_propagate_named_dims.py
  torch_spyre/csrc/spyre_tensor_impl.cpp
Due: enforce-import-regex-instead-of-re

fix(memory_planning): sort pool allocation order deterministically (#2926)
  torch_spyre/_inductor/memory_planning.py
Due: enforce-import-regex-instead-of-re

Generate SDSC for symbolic batch dimension for pointwise ops. (#2673)
  tests/inductor/test_codegen.py
  tests/inductor/test_inductor_fx_passes.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/views.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

fix(ci): reset Spyre topology and escalate logging on model-ops-tests retries (#2996)
  .github/actions/run-test-suite/action.yml
  .github/workflows/model_ops_tests.yaml
Due: none

Move tiled_symbols from LoopSpec to per-op per-level on OpSpec (#2944)
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_unroll_loop_specs.py
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/codegen/unroll.py
  torch_spyre/_inductor/op_spec.py
  torch_spyre/_inductor/scheduler.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Replace _build_inner_fn with _SplitOpsHandler wrapper in split_multi_ops (#2956)
  torch_spyre/_inductor/split_multi_ops.py
Due: enforce-import-regex-instead-of-re

Fix assertion + adds Apache header (#3002)
  tests/distributed/test_allgather.py
  tests/distributed/test_gather.py
  tests/distributed/utils.py
Due: enforce-import-regex-instead-of-re

remove skip on test_bmm_k_tiled_correct (#2994)
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

Added tests for StrategyBAllocator (#2938)
  tests/inductor/test_scratchpad_use.py
Due: enforce-import-regex-instead-of-re

docs: fix reference drift in env vars, downcast warning, runtime, and ops table (#2911)
  CLAUDE.md
  docs/source/api/torch_spyre.rst
  docs/source/getting_started/key_concepts.md
  docs/source/runtime/index.md
  docs/source/user_guide/profiling/environment_variables.md
  docs/source/user_guide/running_models.md
  docs/source/user_guide/supported_operations.md
Due: none

enable symbolic args by default (#2914)
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_codegen.py
  tests/test_launch_jobplan.py
  torch_spyre/__init__.py
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

fix: device-native stick-dim reconstruction in coarse_tile layout resize (#2912)
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/coarse_tile.py
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

feat: parse model-ops GHA logs and ingest into ClickHouse (#2929)
  .github/scripts/ingest_model_ops.py
  .github/scripts/parse_model_ops_logs.py
  .github/workflows/model_ops_tests_nightly.yaml
  .github/workflows/push-model-ops-logs-to-clickhouse.yaml
Due: enforce-import-regex-instead-of-re

docs: fix documentation drift against current codebase (#3028)
  docs/source/api/torch_spyre.rst
  docs/source/compiler/coarse_tiling_loops.md
  docs/source/compiler/inductor_frontend.md
  docs/source/contributing/guidelines.md
  docs/source/runtime/index.md
  docs/source/user_guide/debugging/index.md
  docs/source/user_guide/profiling/environment_variables.md
  docs/source/user_guide/supported_operations.md
Due: none

Support multi-dim index tensors (#2822)
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/indirect_access.py
Due: enforce-import-regex-instead-of-re

feat(oot test framework): resolve config constructor args into real config objects (#3012)
  tests/oot_framework/oot_test_config_models.py
  tests/oot_framework/oot_test_utilities.py
Due: enforce-import-regex-instead-of-re

Simplify fusion logic by removing argument limit (#3069)
  tests/inductor/test_building_blocks.py
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/fusion.py
  torch_spyre/_inductor/scheduler.py
Due: enforce-import-regex-instead-of-re

convert to unified logging framework. just need to use different import and use different method to get logger. (#2969)
  torch_spyre/model_utils.py
Due: enforce-import-regex-instead-of-re

ci: fix input shape and stride logging for recurring model-ops runs (#3006)
  tests/conftest.py
  tests/models/test_model_ops_v2.py
Due: enforce-import-regex-instead-of-re

fix(lx): keep slice-derived buffers off LX (boundary clones, partial reads, sub-extent repacks) (#2683)
  tests/inductor/test_scratchpad_use.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/graph_editor.py
  torch_spyre/_inductor/scratchpad/utils.py
Due: enforce-import-regex-instead-of-re

fix(UNROLL_LOOPS=0): correct pool address advancement in reduction-dim tiling (#3106)
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/codegen/compute_ops.py
Due: enforce-import-regex-instead-of-re

update to use flex method (#2895)
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/spyre_allocator.cpp
  torch_spyre/csrc/spyre_allocator.h
Due: none

fix(test framework): apply per-entry dtype precision overrides instead of silently dropping them (#3042)
  tests/oot_framework/oot_test_base_common.py
Due: enforce-import-regex-instead-of-re

Ilp scratchpad planning (#2684)
  CLAUDE.md
  docs/source/compiler/scratchpad_planning.md
  pyproject.toml
  requirements/dev.txt
  tests/inductor/test_inductor_ops_lx_planning.py
  tests/inductor/test_scratchpad_solver.py
  tests/inductor/test_scratchpad_use.py
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/firstfit_bestfit_solver.py
  torch_spyre/_inductor/scratchpad/graph_editor.py
  torch_spyre/_inductor/scratchpad/ilp_solver_ortools.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
  torch_spyre/_inductor/scratchpad/utils.py
  torch_spyre/_inductor/work_division.py
  uv.lock
Due: check-requirements-dev, enforce-import-regex-instead-of-re

Fix stale per-tile load indexes after coarse tiling propagation (#3066)
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Fixed reinterpret_tensor for in-tree devices + None-valued args in FallbackKernels (#3047)
  tests/inductor/test_fallback_kernel.py
  torch_spyre/_inductor/memory_planning.py
  torch_spyre/csrc/spyre_views.cpp
Due: enforce-import-regex-instead-of-re

fix: parallelize test collection when using --parallel (#3090)
  tests/oot_framework/run_test.sh
Due: none

Remove non-SpyreCode code paths (#2916)
  .claude/skills/debug-compilation/SKILL.md
  .claude/skills/debug-compilation/common-errors.md
  .claude/skills/project-overview/SKILL.md
  tests/inductor/indirect_access_common.py
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_indirect_access_gather.py
  tests/inductor/test_propagate_named_dims.py
  tests/inductor/test_span_overflow_hint_analysis.py
  tests/inductor/test_work_division_hint.py
  tests/test_launch_jobplan.py
  torch_spyre/_C.pyi
  torch_spyre/__init__.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_kernel.cpp
  torch_spyre/csrc/spyre_kernel.h
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
  torch_spyre/execution/async_compile.py
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

Except safety prep kernel (#2773)
  tests/configs/torch_spyre_tests/test_launch_jobplan_config.yaml
  tests/test_launch_jobplan.py
  tests/test_prepare_kernel.py
  torch_spyre/csrc/job_plan.cpp
  torch_spyre/csrc/prepare_kernel.cpp
Due: enforce-import-regex-instead-of-re

fix(coarse-tile): resolve #3116 stick-dim ambiguity via authoritative identity (#3143)
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/coarse_tile.py
Due: enforce-import-regex-instead-of-re

fix(test framework): consider SPYRE_DEVICES/AIU_WORLD_SIZE in --parallel card detection and surface probe failures (#3081)
  tests/oot_framework/run_test.sh
Due: none

Fixed reinterpret_tensor for in-tree devices in Inductor (#3048)
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_fallback_kernel.py
  torch_spyre/_inductor/fusion.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/work_division.py
  torch_spyre/execution/async_compile.py
Due: enforce-import-regex-instead-of-re

feat(inductor): enforce clone layout when called directly from a lowering (#3052)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re
