Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [--output-format, github, --fix]
      - id: ruff-format
        args: [--check]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.31
    hooks:
      - id: pymarkdown
        exclude: '.*\.inc\.md'
        args: [fix]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        args: [--style=file, -i, --verbose, --Werror]
        files: \.(cpp|hpp|cc|hh|c|h)$
  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args:
          - --filter=-whitespace/braces,-whitespace/indent_namespace,-build/include_order,-build/include_subdir
          - --extensions=cpp,h
          - --exclude=codegen/inputs/RegistrationDeclarations.h
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1 # use the latest stable version
    hooks:
      - id: mypy
        types: [python]
        args: [torch_spyre, tests]
        pass_filenames: false
        additional_dependencies: [types-PyYAML]
  - repo: local
    hooks:
      - id: check-requirements-dev
        name: Check requirements/dev.txt sync
        entry: tools/check-requirements.sh
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: signoff-commit
        name: Sign-off Commit
        entry: bash
        args:
          - -c
          - |
            if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
              printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
            fi
        language: system
        verbose: true
        stages: [commit-msg]
      - id: check-filenames
        name: Check for spaces in all filenames
        entry: bash
        args:
          - -c
          - git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0
        language: system
        always_run: true
        pass_filenames: false
      - id: enforce-import-regex-instead-of-re
        name: Enforce import regex as re
        entry: python tools/enforce_regex_import.py
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [regex]
      # Keep `suggestion` last
      - id: suggestion
        name: Suggestion
        entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
        language: system
        verbose: true
        pass_filenames: false
      # Insert new entries above the `suggestion` entry

fix(pass_utils): resolve broadcast-batch/generated-dim ambiguity in matmul layout propagation (#3888)
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Update comments and docstrings
  tests/test_memory_pressure_gc.py
Due: enforce-import-regex-instead-of-re

Scope persistent accumulation to owned rows
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Fix persistent sum type narrowing
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Enable persistent expert loops from coarse-tile hints
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_coarse_tiling.py
  tests/inductor/test_lx_extern_kernel_clobber.py
  tests/inductor/test_perm_layout_solver.py
  torch_spyre/_inductor/loop_info.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/propagate_layouts.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/exhaustive_search.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
  torch_spyre/_inductor/scratchpad/utils.py
  torch_spyre/_inductor/wsr/coarse_tile.py
  torch_spyre/csrc/perm_layout_native.cpp
Due: enforce-import-regex-instead-of-re

fix(inductor): keep data syms that share a coordinate with IndirectAccess
  tests/inductor/test_indirect_access_internals.py
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

docs(inductor): address review nits on matmul broadcast-batch disambiguation
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

ci: run ClickHouse ingest jobs on the dedicated ingest runner set
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
  .github/workflows/push-model-ops-logs-to-clickhouse.yaml
  .github/workflows/push-pytorch-dispatch-to-clickhouse.yaml
  .github/workflows/push-to-clickhouse.yaml
Due: none

ci: allow the image_ingest runner label in actionlint
  .github/actionlint.yaml
Due: none

ci: drop cross-repo PR reference from actionlint label comment
  .github/actionlint.yaml
Due: none

ci: pin the uv version in setup-uv so a fresh release can't 429 the fleet
  .github/actions/build-torch-spyre-wheel/action.yml
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/actions/install-prebuilt-torch-spyre/action.yml
  .github/workflows/build_test_pytorch_source.yaml
  .github/workflows/dependabot.yaml
  .github/workflows/linters.yaml
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
  .github/workflows/push-model-ops-logs-to-clickhouse.yaml
  .github/workflows/push-pytorch-dispatch-to-clickhouse.yaml
Due: none

fix(ci): merge the uv pin into linters.yaml's existing with: block
  .github/workflows/linters.yaml
Due: none

style(ci): drop quotes from the pinned uv version per yamlfmt
  .github/actions/build-torch-spyre-wheel/action.yml
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/actions/install-prebuilt-torch-spyre/action.yml
  .github/workflows/build_test_pytorch_source.yaml
  .github/workflows/dependabot.yaml
  .github/workflows/linters.yaml
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
  .github/workflows/push-model-ops-logs-to-clickhouse.yaml
  .github/workflows/push-pytorch-dispatch-to-clickhouse.yaml
Due: none

ci: bump setup-uv to v10.0.1 and resolve uv via latest-known
  .github/actions/build-torch-spyre-wheel/action.yml
  .github/actions/ingest-xml-to-clickhouse/action.yml
  .github/actions/install-prebuilt-torch-spyre/action.yml
  .github/workflows/build_test_pytorch_source.yaml
  .github/workflows/dependabot.yaml
  .github/workflows/linters.yaml
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
  .github/workflows/push-model-ops-logs-to-clickhouse.yaml
  .github/workflows/push-pytorch-dispatch-to-clickhouse.yaml
Due: none

fix(inductor): repoint MutationLayoutSHOULDREMOVE.target on buffer reconstruction
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

Add a --stage ktir artifact stage to the OpSpec lab, and --emitter ktir to capture it
  docs/source/user_guide/debugging/op_spec_lab.md
  tests/op_specs/capture.py
  tests/op_specs/runner.py
  tests/op_specs/test_op_spec_lab.py
Due: enforce-import-regex-instead-of-re

fix(tests): resolve positional dtype args in model-ops YAML cases
  tests/models/runner.py
  tests/models/test_runner_helpers.py
Due: enforce-import-regex-instead-of-re

test(ci): register runner-helper unit tests in the torch-spyre-tests suite
  tests/configs/torch_spyre_tests/test_runner_helpers_config.yaml
Due: none

test(inductor): add unit tests for _repoint_mutation_targets
  tests/inductor/test_inductor_fx_passes.py
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

test: correct stale B-tiling skip reasons in coarse_tile_e2e
  tests/inductor/test_coarse_tile_e2e.py
Due: enforce-import-regex-instead-of-re

Preserve unit-tile operand address steps
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/loop_info.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

add direct launcher for spyrecode
  extensions/spyre-cli/.gitignore
  extensions/spyre-cli/README.md
  extensions/spyre-cli/pyproject.toml
  extensions/spyre-cli/spyre_cli/__init__.py
  extensions/spyre-cli/spyre_cli/cli.py
  extensions/spyre-cli/spyre_cli/core.py
  extensions/spyre-cli/spyre_cli/iospec/e_incorrect.json
  extensions/spyre-cli/spyre_cli/iospec/example.json
  extensions/spyre-cli/spyre_cli/iospec/iospec.py
  extensions/spyre-cli/tests/test_iospec.py
  extensions/spyre-cli/uv.lock
  pyproject.toml
Due: check-requirements-dev, enforce-import-regex-instead-of-re

Keep work division symbol-keyed through LX planning
  tests/inductor/test_core_mapping.py
  tests/tensor/test_it_space_splits.py
  torch_spyre/_inductor/loop_info.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/graph_editor.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
  torch_spyre/_inductor/scratchpad/utils.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

Preserve LX clone ownership
  torch_spyre/_inductor/scratchpad/allocator.py
  torch_spyre/_inductor/scratchpad/graph_editor.py
  torch_spyre/_inductor/work_division.py
Due: enforce-import-regex-instead-of-re

Clarify co-optimization test descriptions
  tests/inductor/test_scratchpad_use.py
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

Handle fallback ops in co-optimization
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

Clarify work division transport indexes
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Sort symbol-keyed core divisions safely
  tests/inductor/test_scratchpad_solver.py
  torch_spyre/_inductor/scratchpad/plan_solver.py
Due: enforce-import-regex-instead-of-re

Cover lossy work division transport
  tests/tensor/test_it_space_splits.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

fix(inductor): skip re-decomposing already-fresh coarse-tile load indices
  tests/inductor/test_coarse_tile_e2e.py
  tests/inductor/test_coarse_tiling.py
  torch_spyre/_inductor/wsr/coarse_tile.py
Due: enforce-import-regex-instead-of-re

Document symbol-keyed work division planning
  docs/source/compiler/coarse_tiling_loops.md
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/scratchpad_planning.md
  docs/source/compiler/work_division_planning.md
  torch_spyre/_inductor/scratchpad/allocator.py
Due: enforce-import-regex-instead-of-re

feat(model_utils): add Gemma 4 MoE DMA layouts
  tests/tensor/test_model_utils.py
  torch_spyre/model_utils.py
Due: enforce-import-regex-instead-of-re

fix(ci): pass --allow-escape-sequences when downloading GHA job logs
  .github/workflows/push-hw-diagnostics-to-clickhouse.yaml
  .github/workflows/push-model-ops-logs-to-clickhouse.yaml
Due: none

Use symbol-keyed splits in cost reporting
  docs/source/compiler/cost_model.md
  docs/source/compiler/work_division_planning.md
  tests/inductor/test_cost_model_decode.py
  tests/inductor/test_op_features.py
  torch_spyre/_inductor/cost_model_pass.py
  torch_spyre/_inductor/dump_cost_model.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/scratchpad/op_features.py
Due: enforce-import-regex-instead-of-re

Make mismatched layouts on mutation writes a hard failure to catch regressions Use == which leverages CPP STL __eq__ rather than using python stl_eq Signed-off-by: Matthew Arnold <marnold@us.ibm.com>
  tests/inductor/test_coarse_tile_e2e.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/optimize_restickify.py
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

fix(inductor): give every OpSpec a unique sdsc file for the bundler
  tests/inductor/test_symbolic_dim_bundle.py
  torch_spyre/_inductor/codegen/bundle.py
Due: enforce-import-regex-instead-of-re

refactor: remove dead code and update stale comments
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/loop_info.py
  torch_spyre/_inductor/optimize_restickify.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re

fix(inductor): reject flattened LX ownership views
  tests/inductor/test_core_mapping.py
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

remove coarse-tiling specific terminology from stickificatoin code
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/propagate_layouts.py
Due: enforce-import-regex-instead-of-re
