Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

[TESTING] Added script to automate test framework invocation (#1211)
  tests/configs/example_test_config.yaml
  tests/configs/test_suite_config.yaml
  tests/docs/test_framework_instructions.md
  tests/run_test.sh
  tests/spyre_test_constants.py
  tests/spyre_test_parsing.py
Due: enforce-import-regex-instead-of-re

Update yaml files of models for model-centric verification with new dedup (#1597)
  tests/resource/models/Ministral-3-14B-Instruct-2512.yaml
  tests/resource/models/Ministral-3-14B-Instruct-2512_spyre.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
  tests/resource/models/gpt-oss-20b.yaml
  tests/resource/models/gpt-oss-20b_spyre.yaml
  tests/resource/models/granite-3.3-8b-instruct.yaml
  tests/resource/models/granite-3.3-8b-instruct_spyre.yaml
  tests/resource/models/granite-4.0-h-tiny.yaml
  tests/resource/models/granite-4.0-h-tiny_spyre.yaml
Due: none

Add co-authors to planning doc for customization of Input Arguments for Tests (#1634)
  tests/docs/input_args_enablement.md
Due: none

GQA support for SDPA (#1551)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Enable fp32 overwrite operations (#1506)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/constants.py
Due: enforce-import-regex-instead-of-re

add spyretensorlayout guard (#1297)
  tests/tensor/test_tensor_layout.py
  torch_spyre/_monkey_patch.py
Due: enforce-import-regex-instead-of-re

assume output device is cpu if factory method without 'device=' (#1400)
  tests/models/runner.py
Due: enforce-import-regex-instead-of-re

Docs/update documentation 2026 04 02 (#1354)
  docs/README.md
  docs/source/_static/images/pytorch_spyre_architecture.pptx
  docs/source/api/torch_spyre.rst
  docs/source/compiler/architecture.md
  docs/source/compiler/inductor_frontend.md
  docs/source/compiler/work_division_codegen.md
  docs/source/user_guide/supported_operations.md
Due: none

Add Mistral-Small-3.2-24B-Instruct-2506 for model-centric verification (#1347)
  tests/models/op_registry.py
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
Due: enforce-import-regex-instead-of-re

Fix work division splits being silently dropped for pointwise ops (#1450)
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

fix: is_available API use device count (agnostic of runtime init) (#1426)
  torch_spyre/__init__.py
Due: enforce-import-regex-instead-of-re

pad: support left-padding via start-address offset (#1561)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/decompositions.py
Due: enforce-import-regex-instead-of-re

Add Pytorch Memory APIs (#770)
  tests/test_spyre.py
  torch_spyre/__init__.py
  torch_spyre/csrc/spyre_allocator.cpp
  torch_spyre/csrc/spyre_allocator.h
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/memory/__init__.py
Due: enforce-import-regex-instead-of-re

Update upstream test GHA to take the torch version directly from pypoject.toml instead of hardcoded 2.10 (#1546)
  .github/workflows/upstream_tests.yaml
Due: none

Added logic to NOT generate skipped tests from framework (#1265)
  tests/spyre_test_base_common.py
Due: enforce-import-regex-instead-of-re

[TESTING GHA] feat: Github action workflow for running upstream pytorch test - profiler and view ops (#1496)
  .github/workflows/upstream_tests.yaml
Due: none

decode op_it_space_splits to readable format in IR dump (#1657)
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

Disable buffer reuse with (#1659)
  tests/inductor/test_restickify.py
  torch_spyre/_inductor/patches.py
Due: enforce-import-regex-instead-of-re

Fix super nodes after flex change (#1600)
  torch_spyre/csrc/module.cpp
Due: none

Dead code elimination pass for pre-scheduling LoopLevelIR (#1601)
  torch_spyre/_inductor/deadcode_elimination.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

Move stickification, scratchpad allocation and core division to pre-scheduler passes (#1511)
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/patches.py
  torch_spyre/_inductor/scratchpad.py
  torch_spyre/_inductor/spyre_kernel.py
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

[TESTING] Add support for precision patching and specification of dtype precision (#1716)
  tests/spyre_test_base_common.py
  tests/spyre_test_config_models.py
  tests/spyre_upstream_patcher.py
Due: enforce-import-regex-instead-of-re

[TESTING] Added pydantic to pyproject.toml [test] (#1212)
  .github/workflows/upstream_tests.yaml
  pyproject.toml
  requirements/dev.txt
  uv.lock
Due: check-requirements-dev

implement device to device copy through custom op and lowering. Rewor… (#1745)
  tests/test_spyre.py
  torch_spyre/_C.pyi
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_monkey_patch.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_mem.h
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

Generalized DCI generation (#1599)
  tests/tensor/test_tensor_layout.py
  torch_spyre/csrc/spyre_mem.cpp
Due: enforce-import-regex-instead-of-re

tests: disable cpu compile pathway (#1442)
  .github/workflows/runtests_nightly.yaml
  conftest.py
  tests/inductor/test_building_blocks.py
  tests/inductor/utils_inductor.py
Due: enforce-import-regex-instead-of-re

fix: always clean up markers.json sidecar via EXIT trap regardless of --junit-xml (#1838)
  tests/run_test.sh
Due: none

Demonstrate how to compile and run a sequence of OpSpecs (#1782)
  tests/op_specs/op_spec.py
Due: enforce-import-regex-instead-of-re

feat: bf16->df16 changes with testcase and linter fix (#1605)
  tests/test_spyre.py
  torch_spyre/csrc/types_mapping.h
Due: enforce-import-regex-instead-of-re

Add graph-free DMA and FlexAllocator support (#1665)
  torch_spyre/_C.pyi
  torch_spyre/_monkey_patch.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_allocator.cpp
  torch_spyre/csrc/spyre_allocator.h
  torch_spyre/csrc/spyre_mem.cpp
  torch_spyre/csrc/spyre_mem.h
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

Fix _unflatten_mm_to_bmm( with symbolic shapes (#1824)
  torch_spyre/_inductor/temp_passes.py
Due: enforce-import-regex-instead-of-re

Implement _reshape_alias for Spyre (#1822)
  torch_spyre/csrc/spyre_views.cpp
Due: none

Make overwrite and device_from_d2d work on eager efficiently (#1778)
  tests/inductor/test_inductor_fx_passes.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/padding.py
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

[TESTING] feat: inject op__/dtype__/module__ dynamic markers into JUnit XML properties via instantiate_test's sidecar (#1832)
  tests/run_test.sh
  tests/spyre_test_base_common.py
Due: enforce-import-regex-instead-of-re

Extend offset handling for dims of size 1, fix sorting of dim terms (#1784)
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

[TESTING] Apply pytest markers dynamically to each of op and dtype in class ops as it gets expanded in upstream @ops (#1755)
  tests/spyre_test_base_common.py
  tests/spyre_test_config_models.py
  tests/spyre_upstream_patcher.py
Due: enforce-import-regex-instead-of-re

Address redundant torch compile invocations (#1584)
  codegen/templates/base.jinja2
  torch_spyre/ops/eager.py
Due: enforce-import-regex-instead-of-re

Eliminate dim_map from STL (#1702)
  .claude/skills/project-overview/SKILL.md
  docs/source/api/torch_spyre.rst
  docs/source/rfcs/index.md
  docs/source/runtime/overview.md
  docs/source/user_guide/debugging.md
  docs/source/user_guide/tensors_and_layouts.md
  tests/inductor/test_inductor_ops.py
  tests/tensor/test_tensor_layout.py
  torch_spyre/_C.pyi
  torch_spyre/_inductor/stickify.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_tensor_impl.cpp
  torch_spyre/csrc/spyre_tensor_impl.h
Due: enforce-import-regex-instead-of-re

move insert_padding from pre-grad to post-grad CustomPostPasses (#1672)
  tests/inductor/test_inductor_fx_passes.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

Add more tests to avoid granite regressions (#1821)
  tests/inductor/test_inductor_ops.py
Due: enforce-import-regex-instead-of-re

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
