Repository torch-spyre/torch-spyre: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements-dev, enforce-import-regex-instead-of-re

check-requirements-dev:
  name: Check requirements/dev.txt sync
  entry: tools/check-requirements.sh
  language: system
  pass_filenames: false

enforce-import-regex-instead-of-re:
  name: Enforce import regex as re
  entry: python tools/enforce_regex_import.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - regex

Update torch.gt / torch.lt (#1311)
  codegen/inputs/Metadata.yaml
  docs/source/user_guide/supported_operations.md
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Enable reduction dimension as work division candidate (#1275)
  torch_spyre/_inductor/core_division.py
Due: enforce-import-regex-instead-of-re

Add missing _post_fusion_custom_pass in saved_config (#1351)
  torch_spyre/_inductor/patches.py
Due: enforce-import-regex-instead-of-re

Remove SDSC support from async_compile and KernelRunner (#1325)
  torch_spyre/_inductor/codegen/bundle.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/execution/async_compile.py
  torch_spyre/execution/kernel_runner.py
Due: enforce-import-regex-instead-of-re

Cleanup views code (#1352)
  torch_spyre/_inductor/views.py
Due: enforce-import-regex-instead-of-re

Decoder branch (#1309)
  torch_spyre/_inductor/decompositions.py
  torch_spyre/ops/fallbacks.py
Due: enforce-import-regex-instead-of-re

Creates a config for codegen options using torch's ConfigModule (#1258)
  tests/inductor/test_codegen.py
  torch_spyre/_inductor/__init__.py
  torch_spyre/_inductor/config.py
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

Enable multi-core support for torch.cat (#1307)
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

Rework node fusion logic for spyre (#1286)
  torch_spyre/_inductor/choices.py
  torch_spyre/_inductor/fusion.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/patches.py
Due: enforce-import-regex-instead-of-re

Use dict.fromkeys instead of set for deterministic order (#1330)
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

Add CODEOWNERS entry for torch_spyre/profiler/ (#1326)
  CODEOWNERS
Due: none

Remove dim_map from spyre_views.cpp (#1329)
  torch_spyre/csrc/spyre_views.cpp
Due: none

Enable FX Graph caching (#1346)
  tests/inductor/test_cache.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/patches.py
Due: enforce-import-regex-instead-of-re

Fix for lx allocation propagation (#1328)
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/scratchpad.py
Due: enforce-import-regex-instead-of-re

Profiler directory scaffold (#1147)
  README.md
  torch_spyre/__init__.py
  torch_spyre/csrc/profiler/README.md
  torch_spyre/profiler/__init__.py
  torch_spyre/profiler/_spyre_activity.py
Due: enforce-import-regex-instead-of-re

Support torch.cat on dimensions of size 1 (#1292)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
Due: enforce-import-regex-instead-of-re

Use torch._inductor.config.patch context manager (#1356)
  torch_spyre/_inductor/patches.py
Due: enforce-import-regex-instead-of-re

cicd: add merge queue feature to reduce rebases and reruns of PR checks (#1437)
  .github/workflows/linters.yaml
  .github/workflows/runtests.yaml
Due: none

use index exprs to map from pre to post scheduler iteration spaces (#1618)
  tests/inductor/test_restickify.py
  tests/tensor/test_it_space_splits.py
  torch_spyre/_inductor/core_division.py
  torch_spyre/_inductor/pass_utils.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Update flex graph directory names (#1585)
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/spyre_mem.cpp
Due: none

Remove hypothesis dependency, confirm expecttest necessary (#1332)
  pyproject.toml
  requirements/build.txt
  requirements/dev.txt
  uv.lock
Due: check-requirements-dev

[TESTING DOC] Add doc for planning customization of input arguments - tensors, kwargs (#1593)
  tests/docs/input_args_enablement.md
Due: none

[TESTING] Added torch.half as a valid dtype recognition in the framework (#1595)
  tests/spyre_test_config_models.py
  tests/spyre_test_constants.py
Due: enforce-import-regex-instead-of-re

Port span-overflow warning to current core division path (#1658)
  torch_spyre/_inductor/core_division.py
Due: enforce-import-regex-instead-of-re

Rework work division logic (#1345)
  docs/source/compiler/work_division_codegen.md
  docs/source/compiler/work_division_planning.md
  tests/inductor/test_inductor_ops.py
  tests/inductor/utils_inductor.py
  torch_spyre/_inductor/core_division.py
Due: enforce-import-regex-instead-of-re

Enable fusion subject to current constraints of SDSC Bundles (#1355)
  torch_spyre/_inductor/fusion.py
Due: enforce-import-regex-instead-of-re

Add torch.pad via identity broadcast and overwrite (#1310)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/codegen/compute_ops.py
  torch_spyre/_inductor/codegen/superdsc.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/spyre_kernel.py
Due: enforce-import-regex-instead-of-re

Padding should also be applied to mm and bmm (#1559)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/padding.py
Due: enforce-import-regex-instead-of-re

Modified existing test_profiler_config.yaml focusing on relevant test (#1596)
  tests/configs/test_profiler_config.yaml
Due: none

Pre-scheduler insert_restickify (#1560)
  tests/inductor/test_restickify.py
  tests/tensor/test_tensor_layout.py
  torch_spyre/_inductor/customops.py
  torch_spyre/_inductor/decompositions.py
  torch_spyre/_inductor/insert_restickify.py
  torch_spyre/_inductor/lowering.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/stickify.py
  torch_spyre/_inductor/temp_passes.py
Due: enforce-import-regex-instead-of-re

patch stream support (#1380)
  setup.py
  tests/test_device_enum.py
  tests/test_spyre.py
  torch_spyre/__init__.py
  torch_spyre/csrc/module.cpp
  torch_spyre/csrc/module.h
  torch_spyre/csrc/spyre_allocator.cpp
  torch_spyre/csrc/spyre_device_enum.cpp
  torch_spyre/csrc/spyre_device_enum.h
  torch_spyre/csrc/spyre_guard.cpp
  torch_spyre/csrc/spyre_hooks.cpp
  torch_spyre/csrc/spyre_stream.cpp
  torch_spyre/csrc/spyre_stream.h
Due: enforce-import-regex-instead-of-re

Fix logging when op is ComputedBuffer (#1614)
  torch_spyre/_inductor/stickify.py
Due: enforce-import-regex-instead-of-re

log LoopLevelIR before and after pre-scheduling passes (#1582)
  torch_spyre/_inductor/passes.py
Due: enforce-import-regex-instead-of-re

[test] Update yaml files for model-centric verification by making correct dtype and fill_value in kwarg (#1625)
  tests/models/model_cases_loader.py
  tests/resource/models/Ministral-3-14B-Instruct-2512.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506.yaml
  tests/resource/models/Mistral-Small-3.2-24B-Instruct-2506_spyre.yaml
  tests/resource/models/gpt-oss-20b.yaml
  tests/resource/models/granite-3.3-8b-instruct.yaml
  tests/resource/models/granite-4.0-h-tiny.yaml
  tests/resource/models/granite-4.0-h-tiny_spyre.yaml
Due: enforce-import-regex-instead-of-re

Matmul padding (#1503)
  tests/inductor/test_inductor_ops.py
  torch_spyre/_inductor/padding.py
  torch_spyre/_inductor/passes.py
  torch_spyre/_inductor/patches.py
Due: enforce-import-regex-instead-of-re

clean up and simplify map_ir_splits_to_scheduler (#1581)
  torch_spyre/_inductor/pass_utils.py
Due: enforce-import-regex-instead-of-re

fix: restore deleted test methods on restricted classes before re-injection in OOT wrapper (#1492)
  tests/configs/test_profiler_config.yaml
  tests/run_test.sh
Due: none

also include tensor methods in padding (#1660)
  torch_spyre/_inductor/padding.py
Due: enforce-import-regex-instead-of-re

[test] fix inappropriate inheritance in TestSpyreModelOps (#1517)
  tests/models/test_model_ops.py
  tests/test_spyre.py
Due: enforce-import-regex-instead-of-re

Fix argument order in degenerate mm/bmm reductions (#1362)
  torch_spyre/_inductor/lowering.py
Due: enforce-import-regex-instead-of-re

Path conditions:
  check-requirements-dev: any of: pyproject.toml
  enforce-import-regex-instead-of-re: any of: \.py$
